[2016-11-06 16:23] edwinb commented on #3514
This is correct - the 'Delay' is being inserted implicitly, which is what makes Inf disappear.

[2016-11-06 16:26] edwinb commented on #3498
It's most likely to be coverage checking that causes the problem here. Try with --nocoverage to confirm that this is the case. I don't know when I will get around to speeding up the coverage checker - it probably needs to be implemented differently.

[2016-11-06 20:21] edwinb commented on #3246
I've been playing around with WHNF, and it's not actually clear to me now that it's always going to be a win in practice. Even here, it would end up having to reduce fromFraction to get at the relevant head, and it's clear from the %freeze that unification can make progress even avoiding that.

I'm reading around what other systems do - there must be a good strategy lurking somewhere.

[2016-11-06 21:31] Qqwy opened #3515 "lines/unlines only works with List String, not with Vect n String."
I am working through the Idris book.
During the section in Ch. 4 where you are building a schema to store strings in, I implemented the 'search' command, which was one of the exercises.

You there have a `Vect n String`, and you want to print all strings that a `query : String` is an infix of.

So I ended up with something like `show $ filter (isInfixOf query) (items store)`.

I wanted to use the

[2016-11-06 23:39] xekoukou commented on #3498
Yes without the coverage checking it takes 5 seconds instead of 5 minutes.

I have since then changed my code and cleaned this function to 21 pattern matches and it does not increase typecheck times a lot.

[2016-11-07 10:07] nicolabotta commented on #3246
Thanks Edwin! I am going to post a self-contained example that exhibits a similar behavior. Best, Nicola

[2016-11-07 11:26] nicolabotta opened #3516 "The cost of computing Nat equality proofs at type check time"
The program
[code]
type checks in constant time and executes in linear time in `n` as one would expect:
[code]
However, commenting out
[code]
make the type checker go nuts. Now it takes significantly more than quadratic time in `n` for the program to check even for small values of `n`:
[code]
Even worse, type-checking aborts for `n >= 640`! From a user's perspective, this behavior is logically puz

[2016-11-07 12:30] ahmadsalim commented on #3516
@nicolabotta Thank you for the issue! It's great to have a minimal example.

Would you say that this issue supersedes the previous ones (i.e. we can close them)? I think it would be better if we had a single issue that described the problem and it's easier to track.

[2016-11-07 13:25] nicolabotta commented on #3516
@ahmadsalim: Of course I hope that solving this issue will make it possible to close the other issues as well but at this point this is just a hope. Perhaps we have to do with more than one problem. I suggest to keep the other issues open for the time being. As soon as we have a solution that works well on the example above, I will check it on the other issues and hopefully close them.

[2016-11-07 13:34] ahmadsalim commented on #3516
@nicolabotta OK, as you wish. Let us keep the issue open for the time being.

[2016-11-07 19:53] zmactep commented on #3514
Thanks, got it. I thought I can write this construction fully explicit. And then there is a typo in TDD.

[2016-11-08 10:06] edwinb commented on #3246
As an update, I have found the cause of recent slow downs, which is to do with partial evaluation doing too much work. I'll aim to fix this later this week, but in the meantime you can probably get much better (compile time) performance with `--no-partial-eval`

[2016-11-08 10:08] ahmadsalim commented on #3246
@edwinb Maybe it's a good time to consider having multiple optimization levels?

[2016-11-08 21:25] Qqwy opened #3517 "Add nonzero restriction on `gcd`"
The current version of `gcd` is defined as follows:

[code]

Because I'm working on a small hobby project that needs to prove things about Greatest Common Divisors, I stumbled across a page on [proofwiki](https://proofwiki.org/wiki/Existence_of_Greatest_Common_Divisor). It states that a requirement for being able to compute `gcd a b`, is that `a≠0 ∨ b≠0`. The current definition does not have this

[2016-11-09 05:27] 81120 opened #3518 "length [] -> Can't infer argument a to []"
## Freshman Question
when using length like that
[code]
it will be
[code]
Why can't get a 0?

[2016-11-09 06:07] david-christiansen commented on #3518
Hi Leo,

The reason is that, behind the scenes, Idris needs to be able to fully
determine the types used for each constructor, even if there's no
arguments that actually have those types.

In other words, the definition of List looks like this:

data List : Type -> Type where
  Nil : List a
  (::) : a -> List a -> List a

but it actually has hidden arguments that pass the types around, like this:

[2016-11-09 14:44] 81120 commented on #3518
Hi, @david-christiansen , thanks for your working, pretty careful.  I am trying to understand, and I have two questions now :).
1.  When define a function like that:
[code]
and when using
[code]
I can get 10.  But when using
[code]
I will get
[code]
It is a recursive process which ends up with []. That is to say, in the recursive process, myLength [] will be computed normally. But when using myLen

[2016-11-09 15:28] edwinb commented on #3246
@ahmadsalim we already do, in a sense, but that's nothing to do with the problem here. The partial evaluator does too much work and that is a bug (it's repeating work it's done before), not a failure in setting the right optimisation levels.

[2016-11-09 16:14] ahmadsalim commented on #3518
@81120 You can use something like `myLength {a = ()} []` which explicitly fills out the implicit `a` parameter with the unit type `()` or `myLength (the (List ()) [])` which fills it out by unification.
Here `the` is a function which takes a type as a first argument and a value of that type as a second argument, and thus allows you to "annotate" the types of intermediate values which type is not f

[2016-11-10 01:26] 81120 commented on #3518
@ahmadsalim , Thanks, got it.

[2016-11-10 09:41] nicolabotta commented on #3246
@edwinb Hmm ... I do not see improvements with the `--no-partial-eval` option, my type checking times are:

1) 20s with frozen `fromFractionLinear`, `fromFraction`, standard flags
2) 20s with frozen `fromFractionLinear`, `fromFraction`, standard flags + `--no-partial-eval`
3) 31m with no freezing, standard flags
4) 30m with no freezing standard flags + `--no-partial-eval`

This is with Idris-dev-f

[2016-11-10 15:13] ahmadsalim commented on #3518
I will close the issue then if it's OK.

[2016-11-10 15:13] #3518 closed

[2016-11-10 16:22] alercah commented on #2657
Encountered this example with a pair of Fins that, even with `--nocoverage`, causes the compiler to run out of memory and crash (on a machine with about 30GB of free RAM):

[code]

[2016-11-14 05:50] gergoerdi commented on #2833
FWIW, I think I found another program exhibiting the same problem (via [this StackOverflow question](http://stackoverflow.com/a/40572811/477476):

    import Data.So
    p : So ((10 `mod` 10) == 0)
    p = Oh

This results in

             Type mismatch between
                     True
             and
                     intToBool (prim__eqBigInt (mod 10 10) 0)

[2016-11-14 09:05] ahmadsalim commented on #2833
@gergoerdi The reason for your issue is different, which is that `mod` is a partial function, and so the Idris type checker will not reduce it.

[2016-11-14 09:06] ahmadsalim commented on #2833
@gergoerdi Consider using something like https://github.com/idris-lang/Idris-dev/blob/0d3d2d66796b172e9933360aee51993a4abc624d/libs/contrib/Data/Nat/DivMod.idr

[2016-11-14 16:07] tsani commented on #3511
Idris seems to be confusing your *declaration* of `empty` with a *use* of `Prelude.Applicative.empty`. If you write `%hide Prelude.Applicative.empty` before your interface declaration, the file typechecks.

What is extremely odd though is that if you write the desugared interface declaration
[code]
there is no error.

[2016-11-15 09:20] ahmadsalim commented on #3515
@Qqwy Take a look at `fromList` and `toList`, which allow you to convert and back and forth between `Vect` and `List`

[2016-11-15 15:04] ahmadsalim commented on #3439
From idris-hackers/idris-vim#56 by @LeifW:

The formatted error is:
[code]

I think this issue is about punning and type inference which somehow has gone wrong in this particular case.

[2016-11-15 15:09] ahmadsalim commented on #3440
MRE:

[code]

It seems to be an issue when multiple at-patterns are used I guess?

[2016-11-15 15:17] ahmadsalim commented on #3443
@steshaw Just a small follow up, have you had some time to look at this yet?

[2016-11-15 23:21] steshaw commented on #3443
Sorry, no. I haven't had much time for Idris lately.

[2016-11-16 16:13] davidgrenier commented on #3437
Moving the Idris folder to one without spaces solved the problem for me as well.

[2016-11-16 16:22] #3502 closed

[2016-11-16 16:22] #3503 closed

[2016-11-17 22:18] jachymb opened #3520 "Generalize Vect functions for Foldable"
For example, we have

[code]

Why not generalize like this:
[code]

Then of course
[code]

And similarly for many other functions in `Data.Vect`. But maybe there is a good reason to have it like it is that I don't know.

[2016-11-18 08:23] ahmadsalim commented on #3520
@jachymb You are more than welcome to make a PR with these generalizations if they type check. The most likely reason is just that people have not thought about it, since Idris is strict and so for most functions it usually doesn't matter whether you explicitly pattern match or not.

[2016-11-18 09:21] jachymb commented on #3520
Although I personally prefer the point-free style here, the reason for this is not really getting rid of pattern matching, but making the function more polymorphic.

[2016-11-18 12:04] bamboo commented on #3520
Please correct me if I'm wrong but those two `elemBy` definitions are not equivalent performance-wise and might exhibit very different performance characteristics in practice depending on how expensive the `Foldable` implementation is.

The first, specialised definition, will stop iterating as soon as the element matching the predicate is found.

The second, more general definition, will evaluate

[2016-11-18 12:09] melted commented on #3437
The solution to this is that I will bundle a newer gcc when I build the
next Idris release.

Den 16 nov. 2016 17:13 skrev "David Grenier" <notifications@github.com>:

[2016-11-18 12:30] ahmadsalim commented on #3520
@bamboo So as far as I understand we need concrete performance benchmarks to compare.
But, note that Idris does aggressive inlining, erasure and partial evaluation so the performance difference might not be that great.

[2016-11-18 12:35] ahmadsalim commented on #3517
@Qqwy A simple way to write that constraint would be to take argument `(notBothZero : (a = 0) -> (b = 0) -> Void)` (which is isomorphic to `Either (Not (a = 0)) (Not (b = 0))` and `Not (a = 0, b = 0)`).

[2016-11-18 13:21] jachymb commented on #3520
@bamboo
Could that be perhaps fixed by switching to `Lazy Bool` on the right place?

[2016-11-18 13:37] ahmadsalim commented on #3520
@jachymb
`any` is already Lazy as far as I remember.

[2016-11-18 13:42] ahmadsalim commented on #3520
In any case using `any` and `all` should not be penalty incurring w.r.t. early stopping.
If it is now, that needs to be changed.

[2016-11-18 14:42] nicolabotta commented on #3350
Update: now even with `Setup.hs` modified as described above `idris-0.12.3` fails to install on (my) Debian stable:
[code]
On a fresh `Idris-dev` repository (without modifications to `Setup.hs`) installation fails from the very beginning:
[code]
as reported in my original post. Any chance to get Idris install on Debian stable?

[2016-11-18 19:30] Melvar commented on #3350
@nicolabotta: That new error looks like Edwin forgot to check in a file or something. Not something specific to Debian stable.

[2016-11-19 14:56] #2657 closed

[2016-11-19 19:24] edwinb commented on #3498
Profiling reveals that this is caused by a 'nub' which achieves almost nothing, but still takes a long time to run.

On my machine, fixing that gets checking time down to about 25 seconds (which is about 1/5th what it took before). This is still slow, but a lot better.

There are >16000 candidate clauses for addIndexFL beyond the ones written, all of which fail to type check. So the time taken is

[2016-11-19 21:29] edwinb commented on #3498
Down to 10 seconds or so now... there's probably more we can do, but this kind of problem with a lot of cases to reject is always likely to take a noticeable amount of time to solve. I'll see if I can get it down a bit further, but I think it is at least usable now.

[2016-11-19 21:36] bernstein commented on #2961
Here is a small code snippet that produces the error.
[code]

[code]

[2016-11-20 15:40] ahmadsalim commented on #2961
@bernstein Thanks for the snippet!

[2016-11-20 17:15] ahmadsalim commented on #3455
Thanks for the report, and apologies for a late answer.
I unfortunately do not know a useful workaround myself but maybe someone else in @idris-lang/contributors knows.

Otherwise, please try the mailing list.

[2016-11-20 17:17] ahmadsalim commented on #3459
Thanks for the bug report and apologies for a late answer.
This definitely seems like a bug with the implicit adder.

[2016-11-20 17:41] ahmadsalim commented on #3466
Thanks for the bug report! What error do you get?

[2016-11-20 17:48] ahmadsalim commented on #3477
Thank you for the bug report and apologies for the late answer.

So have you tried the following instead?

[code]

[code]

These should correspond to what the old code had

[2016-11-20 17:53] ahmadsalim commented on #3477
OK, it seems even if I do those fixed it still loops.

[2016-11-20 17:55] ahmadsalim commented on #3483
Seems that this was resolved by #3495 , so I will close it.

[2016-11-20 17:55] #3483 closed

[2016-11-20 17:59] ahmadsalim commented on #3496
Thanks for the bug report. Any suggestions on how to fix this?

[2016-11-20 18:03] ahmadsalim commented on #3498
I think 10 seconds is acceptable.

@xekoukou What do you think? can we close the issue?

[2016-11-20 18:33] xekoukou commented on #3498
It is up to @edwinb if he wants to close it or not.

[2016-11-20 18:41] xekoukou commented on #3466
```:printdef F``` returns
[code]

MkF returned Type is ( Vect x String -> Type) not (F _ _)

[2016-11-20 18:46] #3498 closed

[2016-11-20 18:46] ahmadsalim commented on #3498
I closed the issue, you or @edwinb are of course welcome to reopen it if you feel the need.

[2016-11-21 08:39] jfdm commented on #3496
Maybe the problem will have resolved itself naturally, given the recent pushes by @edwinb that provide some performance improvements?

[2016-11-21 08:58] ahmadsalim commented on #3496
@jfdm  Sorry, is this a response to another issue? I am not sure I understand the context.

[2016-11-21 12:00] ziman commented on #2961
@bernstein many thanks for the MFE!

[2016-11-21 12:06] ziman commented on #2961
(It turned out that nested lambdas are not resolved by repeated application of the rule for a single lambda.)

[2016-11-21 14:58] ahmadsalim commented on #3499
@DemiMarie Thanks for the feature request! We would of course accept pull requests for implementing such authentication in the protocol.

[2016-11-21 22:22] xekoukou opened #3524 "Possible Coverage Checking Error"
https://gist.github.com/xekoukou/e943ea185bc8007aab89cea7a8a8a188

The problem arises in function ```trLDT``` .
If I remove the case :
[code]
I get this error :
[code]

[2016-11-22 13:17] ahmadsalim commented on #3524
@xekoukou There is definitely an error. You mean that the error is spurious, and why?

[2016-11-22 13:27] xekoukou commented on #3524
@ahmadsalim
If you check the type of ```error_if_deleted```, you get this :

[code]

If you then look at the definition of LinDepT, the only constructor that gives that datatype is
``` TAnd ```, thus there shouldn't be an error.

I removed all the ```Inf``` in the LinDepT datatype and I get no error, so either I do not understand something, or Inf confuses the coverage checker.

[2016-11-22 13:59] jfdm opened #3525 "LHS Casesplit and Type Checking Mismatch"
I am working on some toy code and encountered an inconsistency between Idris' case splitting and resulting type checking for Uninhabited values.

So given a module `Bug` that is set to total and with logging level one, and my `DList` data structure.
Follow the comments in the code for descriptions. Splitting up into blocks will make it hard to copy and paste into a buffer:

[code]

Hopefully, I ha

[2016-11-23 11:49] #2961 closed

[2016-11-24 14:29] ahmadsalim commented on #3509
@nicolabotta For me it failed to compile on the latest Idris version (especially. I had problems with Nat.Positive). Do you have an idea how to fix this?
If it is not to too hard, could you kindly try to inline the necessary definitions so it can be checked in a self-contained way? Thanks!

[2016-11-24 17:22] nicolabotta commented on #3509
@ahmadsalim This is strange. The output of
[code]
on a fresh installation of `IdrisLibs` and with `Idris-dev-ff776da` on my system is
[code]
In particular, `Nat/Positive` type checks fine. It is of course possible that the current Idris version has broken some components of `IdrisLibs`. I cannot install the current Idris version on my system because of #3350.

Implementing a self-contained example

[2016-11-24 17:24] nicolabotta commented on #3509
@ahmadsalim What was the specific problem with `Nat.Positive`? `Nat.Positive` is a very small component and it should be easy to fix the problem.

[2016-11-24 18:55] jfdm commented on #3496
So looking at the OS X builds, pre-build steps,and some install steps, are taking longer than we see for other builds. It might be of use to see how we can speed this up. These builds are not using a stale cache from what I can see.

[2016-11-24 21:40] jachymb opened #3529 "eqSucc and succInjective parameters"
I believe the functions `succInjective` and `eqSucc` would be more useful if the parameters `left` and `right` were implicit. I want to use them when I have relatively complex expressions in both and I don't see a good reason why I should be forced to pass them explicitly.

[2016-11-24 21:41] jachymb commented on #3529
i.e. we would have

    total succInjective : {left : Nat} -> {right : Nat} -> (p : S left = S right) -> left = righ
    succInjective Refl = Refl

it typechecks. Perhaps there was a reason to have the arguments explicit. If yes, please enlighten me :-)

[2016-11-25 13:20] ahmadsalim commented on #3509
@nicolabotta

I get the following error during compilation:

[code]

[2016-11-25 13:50] ahmadsalim commented on #3512
The Stream implementation is still wrong.

[2016-11-25 13:51] ahmadsalim commented on #3512
Actually, the next step is correct now, but the following step is wrong.

[2016-11-26 19:11] edwinb commented on #3529
As a convention, we've generally made arguments explicit in functions which manipulate proofs - I've found it's generally clearer in things which are intended as proofs to write the arguments explicitly, and it might not be possible to infer them in more complex cases.

I'd just suggest writing your own wrapper if you'd prefer the arguments to be implicit.

[2016-11-26 19:11] #3529 closed

[2016-11-26 19:15] edwinb commented on #3524
I don't get this error with the new coverage checker.

I do get some other coverage errors though, which is entirely possible since it's an undecidable problem so different algorithms may cause different things not to get through. Perhaps they need a closer look.

[2016-11-26 19:27] edwinb commented on #3516
This is exactly the same issue as any others that involve evaluation for type checking - it needs to evaluate `n` to make any progress, and at the moment evaluation is all-or-nothing.

The logical explanation is that Nats are unary - there is little point in hard coding things for Nat though: firstly, because that would be a huge change that would impact every part of the system, and secondly beca

[2016-11-26 19:42] xekoukou commented on #3524
edwinb :

Keep in mind that I have types that depend on Codata, something that is ill-advised.
If that should not affect the coverage checker, then continue the research into the issue.

[2016-11-26 19:46] xekoukou commented on #3524
I ll test  the new coverage checker when I finish reading on possible solutions on the normalization of codata.

[2016-11-26 20:22] edwinb commented on #3524
Codata shouldn't make any difference to the coverage checker.

I'm not working on this at the moment - the initial reported error is certainly no longer there, the question is now whether the reported failures are due to the undecidability of the problem (in which case you'd need an explicit proof) or because something about the new algorithm is not right.

[2016-11-26 21:23] ahmadsalim commented on #3514
@zmactep Is this issue something we can close now?

[2016-11-26 21:24] ahmadsalim commented on #3515
@Qqwy Was the answer satisfactory, and can we close this issue now?

[2016-11-27 09:32] xekoukou commented on #3524
@edwinb  :

https://gist.github.com/xekoukou/379ebe5ed443c85e89dbe056d59f683f
(I changed the code a bit. (different version).)

If you look at the second case of trSetLL, you will see that it already exists a few cases further down.

If it is removed, the coverage checker returns a missing case error.

[2016-11-27 11:45] zmactep commented on #3514
@ahmadsalim I think we can close it, as this implicit conversion is a normal way.

[2016-11-27 18:51] edwinb commented on #3516
You know, I think I'm going to take back that comment about "little point in hard coding things for Nat" because realistically that's the biggest problem we're going to encounter at compile time, and given that we say that Nat is for unbounded unsigned things, we probably ought to be a bit cleverer about it.

Let's see how this goes...

[2016-11-28 08:54] #3514 closed

[2016-11-28 12:56] ahmadsalim commented on #3515
OK, I will close the issue. Feel free to reopen if necessary.

[2016-11-28 12:56] #3515 closed

[2016-11-28 14:08] Qqwy commented on #3515
For posterity: `toList` and `fromList` are indeed what I was looking for.

This issue did start [an interesting discussion](https://groups.google.com/forum/#!topic/idris-lang/MWJ4zDcjl10) about what functions should be generalized to work on other listlike types as well, and what the difference between e.g. a Vector and a List actually is.

Thank you, @ahmadsalim !

[2016-11-28 20:40] xekoukou commented on #3524
https://gist.github.com/xekoukou/e5e4ea8b09b723ef558c65b3e98d945e

A simplified version of the previous. Check trSetLL.

[2016-11-28 22:53] atacratic commented on #3329
I hit this as well.  Doesn't bother me too much as I can work around by making the type argument explicit.

[code]

[2016-11-29 08:55] alercah opened #3532 "Tuples of different lengths can unify."
I'm reporting this based on a conversation on IRC from a few weeks ago. I don't have time to dig out the logs but wanted to get the ticket down. Feel free to close as wontfix and point me at an explanation.

Related sort of to #3166, the issue is that tuples are represented as nested pairs, so for instance `(a, b, c)` is actually `(a, (b, c))`. This is irritating because it means that `(a, b)` wil

[2016-11-29 09:19] ahmadsalim commented on #3532
@alercah This was as far as I understand a design decision to make it easier to work with tuple operations without doing a lot of duplication like Haskell does with some `op22` that only works on 22-tuples.

If you are interested in having an intensional difference between a 3-tuple and a 2-tuple which has a 2-tuple nested in it's right component, you can of course roll out your own `Tuple3` type

[2016-11-29 15:10] jfdm opened #3534 "Possible Type Checker Error"
Recompiling some stable packages against Idris HEAD, and one started to produce an error.

The following random key-value list pair generator code, fails on Lines 27 and 29 i.e. on the recursive calls in `genElem` complaining of a type mismatch of the passed in effectual functions.

I do not know if this is a regression, or a bug that has been fixed.

[code]

[code]
Edit: Add error message.

[2016-11-29 15:33] ahmadsalim commented on #3534
@jfdm What is the error you get? :)

[2016-11-29 15:35] jfdm commented on #3534
Oh yeah, an error message might be helpful.

[2016-11-29 15:41] jfdm commented on #3534
So apparently it works if you modify the type of `genElem` to:

[code]

Am going to bisect to see if I can work out when it stopped working.

[2016-11-29 19:22] ubsan opened #3535 "Infinite recursion in the idris evaluator"
I'm learning from TDD with Idris - very fun language so far 😄! I found this, and someone told me to file a bug report.

Given the code

[code]

If I compile the code, or `:exec` in the evaluator, the program prints `False`. If I attempt to call `palindrome 0 "hh"` myself, the interpreter infinitely loops:

[code]

[2016-11-29 20:40] jfdm commented on #3535
Hi @ubsan thanks for the error report. I am wondering if you can tell us the version of Idris you are using. This will help us identify what, if anything, is wrong.

 [One thing to note is that Idris in the REPL behaves differently to compiled Idris](http://idris.readthedocs.io/en/latest/faq/faq.html#evaluation-at-the-repl-doesn-t-behave-as-i-expect-what-s-going-on) whether that is the cause of yo

[2016-11-29 21:14] jfdm opened #3536 "Ship binaries for tagged releases using Travis."
It would be beneficial if we can automate the shipping of binaries when we tag a release. GitHub has an infrastructure for [making tar balls of binary releases available](https://github.com/blog/1547-release-your-software).

Cabal also has the ability to [create binaries](https://www.haskell.org/cabal/users-guide/installing-packages.html#creating-a-binary-package), and flavours of OSs provide a me

[2016-11-29 23:20] #3534 closed

[2016-11-30 01:33] ubsan commented on #3535
@jfdm 0.12.3, the latest installable with `brew`.

[2016-11-30 01:52] fabianhjr commented on #3517
Note: changing from `modNat` to `modNatNZ` was not enough to gurantee that gcd would be total. Asertion had to be kept. (Refer to #3537)

[2016-11-30 10:03] edwinb commented on #3535
As we discussed on IRC, this is behaving the way I'd expect (essentially, attempting to normalise a partial thing under an "if" which can't make progress because `strTail ""` gets stuck). However, there are two things which ought to be changed, I think:

* The run-time behaviour of strTail. This currently returns "" for an empty string, which isn't consistent with the compile time behaviour. Eithe

[2016-11-30 11:08] edwinb commented on #3532
It may be irritating in some ways, but it's just as irritating in other ways not to. It's a syntactic convenience, and if you need the distinction you'd be better making a type that makes the distinction explicit.

[2016-11-30 11:08] #3532 closed

[2016-11-30 12:46] nicolabotta commented on #3509
Is this what you would expect? The name `Positive` does not apper in `./Fraction/Predicates.lidr` at all. Thus, the error seems, to say the least, questionable.  Also notice that with `Idris-dev-ff776da`
[code]
yields no errors:
[code]
Perhaps a bug introduced between `ff776da` and the current Idris version?

[2016-11-30 14:37] logicchains commented on #3516
I recall from reading the [Lean documentation](https://leanprover.github.io/tutorial/), although I can't find where exactly, that they've taken the approach of hard-coding efficient integer behaviour for all types that satisfy a certain interface (or typeclass, or whatever; something like Haskell's Num). Could Idris do something similar, allowing any user-defined types that implement a particular

[2016-11-30 15:38] nicolabotta commented on #3516
@logicchains I do not know Lean but we have tentatively implemented non-negative rational numbers in Idris on the top of `Nat`, please see https://gitlab.pik-potsdam.de/botta/IdrisLibs/tree/master/NonNegRational, and run-time computations seem reasonably fast. We have registered non-negative rationals as instances of `Num`. I understand that, at run time, `Nat` computations and, therefore, computa

[2016-11-30 18:05] YaZko opened #3538 "Current package for mac os wrongly packaged"
Dear all,

The package distributed here for instance: https://github.com/idris-lang/Idris-dev/wiki/Idris-on-Mac-OS-X seems to be broken.
Trying to compile, I obtain the following error:

References to an "edwin" user are out of place.
Installing the (older) package currently distributed on brew works perfectly.

Best,
Yannick

[2016-11-30 22:20] lehmacdj opened #3539 "Prelude.idr: openFile: does not exist (No such file or directory)"
I appear to have stumbled upon quite a weird bug. When trying to load files to the repl they won't load properly when I specify them from one specific directory:
[code]
Perhaps even stranger is what happens when I run `idris` without a command line parameter:
[code]
The same thing can be observed when using an installation of idris installed with stack instead of cabal.

Although I doubt it matter

[2016-12-01 08:55] ahmadsalim commented on #3539
@lehmacdj Thank you for reporting the issue. Have you checked whether your permissions for that folder are OK?

[2016-12-01 09:00] ahmadsalim commented on #3538
Thank you for the report, I am glad you got it working with Homebrew.
We will investigate as soon as possible; I actually plan to look at automating the packaging from CI services soon, so maybe that could help as well.

[2016-12-01 12:48] logicchains commented on #3516
@nicolabotta I'm sorry, I should have been clearer, I meant optimising the typechecker to use machine integers (and hard coding the kind of techniques used by e.g. SMT solvers for solving numerical equalities), as opposed to the naive approach of for instance actually treating 5 as `S( S (S (S (S Z))))`. If optimisations were hardcoded into the typechecker for dealing with Nats, it would be nice i

[2016-12-01 15:18] lehmacdj commented on #3539
Folder has permissions `rwx` for my user so that can't be the problem.

[2016-12-01 15:20] ahmadsalim commented on #3539
@lehmacdj If you open the file manually `/Users/devin/Library/Haskell/share/ghc-8.0.1-x86_64/idris-0.12.3/libs/prelude/Prelude.idr` does it work?

[2016-12-01 15:21] nicolabotta commented on #3516
@logicchains optimizing the type checker to efficiently compute with `Nat`s and with numerical data types based on `Nat` is certainly a crucial step towards improving the usability of Idris.

Many "validated" applications require, in one way or another, certain pre-conditions to be satisfied. In many cases, these requirements can be expressed in terms of equalities of numerical values. Whenever su

[2016-12-01 15:22] lehmacdj commented on #3539
I only have bytecode for that file. I tried reinstalling and there was still only bytecode at that location. Let me try copying the source file the repository and see if it still works.

[2016-12-01 15:30] lehmacdj commented on #3539
I now get this error when running idris in the folder that gave me the problem `~/src/learning/idris`:
[code]
Still works fine in other directories.

[2016-12-01 15:31] lehmacdj commented on #3539
Here is the current contents of `/Users/devin/Library/Haskell/share/ghc-8.0.1-x86_64/idris-0.12.3/libs/prelude/`:
[code]

[2016-12-01 15:39] lehmacdj commented on #3539
The same thing happens when I open the file manually with `idris /Users/devin/Library/Haskell/share/ghc-8.0.1-x86_64/idris-0.12.3/libs/prelude/Prelude.idr`

[2016-12-01 15:43] lehmacdj commented on #3539
I just tried moving my repository that was giving me a problem and the problem must be associated with the repository/directory and not with the path since I was able to create a new directory on the same path and the problem did not occur again, yet the problem did occur in the repository.

Does idris attempt to look at any files in the directory when starting?

[2016-12-01 15:45] lehmacdj commented on #3539
@ahmadsalim I was able to resolve the issue by renaming the file IO.idr that I had in the repository.

[2016-12-01 15:53] ahmadsalim commented on #3539
@lehmacdj Ah, I see, great that you solved it. I missed you had that file in the directory.

I guess we may want to investigate whether the module resolution could be more stable in this regards, but I am not sure how one could do that.

[2016-12-02 15:06] machunter opened #3540 "MacOS distribution missing libraries"
When trying to go through the book I get the following error:

[code]

`idris --listlibs` returns **prelude** only

`idris --info` returns amongst many things:
- **Library Dir:** `/usr/local/share/x86_64-osx-ghc-7.10.3/idris-0.99/libs/`

If I go to that directory I only see a Prelude folder.

[2016-12-03 15:32] razvan-panda opened #3541 "idris --testpkg error: "rawSystem: invalid argument (Exec format error)""
Running `idris --testpkg Game.ipkg` outputs:

[code]

In the Temp folder there is an empty `idris243933548` file and 2 files with content `idris243933548.c` and `idris243933548.exe`

Running the tests by running the executable directly works fine.

Possibly related to the fact that windows executables usually end with `.exe` while Unix executables usually do not end with an extension.

My environm

[2016-12-03 16:21] edwinb commented on #3350
I don't believe I forgot to check in anything. The error with 'null' crept in because of a library change in (I think) GHC 7.10 but I undid that one. I have no idea about the Setup.hs error. Does anyone have an idea?

[2016-12-03 16:30] edwinb commented on #3538
Oh, I shouldn't have linked this because 0.99 isn't ready yet. Having said that, I think there's been a problem with the Mac binary package for a while (most likely since I upgraded to El Capitan). None of this would explain where the references to my local user came from though. Anyway - @jfdm has been tweaking the script, and so hopefully it'll work when I upload the new release shortly.

[2016-12-03 16:54] edwinb commented on #3524
In the latest version, this has improved: there are four missing cases, none of which are explicitly matched by the given cases but all of which have some justification for claiming they are covered. Adding these cases makes the checker happy.

The checker works essentially by choosing a pattern to split into cases, adding the missing ones, then seeing if the result type checks. The missing cases

[2016-12-03 18:36] mmn80 opened #3542 "Interactive codegen and refactoring"
I am working on a new C RTS that is capable of code hot loading and I need to be able to compile individual Idris modules quickly. Unfortunately keeping an `idris` process in *Ide mode* only affords interpretation, but if I try to compile code it will fork a separate codegen process which has to load and grind all `IBC` files, including the `Prelude` (min. 2 sec on my machine), defeating the purpo

[2016-12-03 19:21] mmn80 commented on #3542
I forgot to say that I am ready to do this work myself, but I need to know if the idea is accepted. Maybe there is an obvious issue with it. Otherwise I'll have to do my thing on a fork instead.

[2016-12-03 20:53] edwinb commented on #3524
Ha. So as it turns out when I peered more closely at the case trees, I had got something wrong in generating the clauses, and this now gets past the checker. It is at the cost of efficiency in some other large cases, but it's not completely disastrous and we can work on that later.

The point about overlapping cases and undecidability still stands, but things should be a bit better now.

(Pending

[2016-12-03 21:08] #3524 closed

[2016-12-03 21:37] edwinb commented on #3538
I've uploaded a new version, which should have the paths correct - I've successfully installed it locally.

[2016-12-03 21:51] YaZko commented on #3538
Dear Edwin,
I actually had not made the link between the user name and yourself, despite jumping in from your book :) At any rate, thank you for the updated link. I just gave it a shot, it worked perfectly.
Thanks again,
Best,
Yannick

[2016-12-03 21:51] #3538 closed

[2016-12-03 23:12] juhp opened #3543 "safe == 0.3.9"
I didn't understand change aa91025 well.

Would `safe >= 0.3.9` not work equally well?

It looks like if this was done then latest idris might build in Stackage Nightly again.

[2016-12-03 23:42] juhp opened #3544 "idris-0.99: /usr/share/idris-0.99/idrisdoc/styles.css: copyFile: does not exist (No such file or directory)"
I tried to build idris-0.99 for Fedora:

[code]

Full buildlog at https://copr-be.cloud.fedoraproject.org/results/petersen/idris/fedora-26-x86_64/00484508-idris/build.log.gz

[2016-12-04 08:12] jfdm commented on #3543
From what I can remember, I did originally try using `safe>=0.3.9` but ran into problems. However, I am unsure at the moment. I will look into it later.

[2016-12-04 09:25] nicolabotta commented on #3350
@edwinb The Setup.hs error could be avoided (since Aug. 17 and until about two weeks ago, see posts from Aug. 17 and form Nov. 18 above) with a simple patch:
[code]
With `idris-0.12.3` this patch di not work anymore, see my post from Nov. 18 above. With `0.99-git:5245054` the patch works again and I can now install Idris on Debian stable!

[2016-12-04 10:43] mmn80 commented on #3542
I found the older refactoring thread: #1539. New day, new plan: scrap the git submodules and do it with packages, but in a minimally disruptive way.

1. an `idris-core` package that will contain everything except codegens and the main executable. Further refactoring work will involve splitting this package.
2. various codegen packages that depend on `idris-core`. Note that codegens should sit clos

[2016-12-04 11:01] mmn80 commented on #3542
I think I'll leave this lively discussion for now and go ahead and implement a PR. This way, I'll discover precisely what other hidden bidirectional dependencies lurk inside, and we'll be able to discuss more concretely.

Besides, I already want to do this splitting even if just for my never-to-be-merged fork, for sanity reasons.

[2016-12-04 12:35] Termina1 opened #3545 "Data.String.View are not exporting functions"
It seems that there should be:
[code]
in https://github.com/idris-lang/Idris-dev/blob/master/libs/base/Data/String/Views.idr.

Otherwise I'm not sure how to use it. Also, why is there assert_total, just curious?

[2016-12-04 12:46] nicolabotta commented on #3509
@ahmadsalim I could now install 0.99 (please, see #3350) and confirm your results. I think this is an Idris bug, but I have added `import Nat.Positive` to `Fraction/Predicates` and to `Fraction/LTEProperties`. Now `make libs` yields no errors with `0.99-git:5245054`.

[2016-12-04 15:16] xekoukou commented on #3545
You are right. It needs ```public export```.

If one removes ```assert_total``` , the totality checker will probably complain. But one can change that function in a way that it does not.

Idris cannot understand that ```xs``` is smaller than ```x```.

[2016-12-04 16:37] libeako opened #3546 "install via cabal likely to break packages"
Trying to install idris-0.99 on my debian 8 ["jessie"] stable :
Cabal says:

[code]

I have installed all OS packages mentioned by the page
https://github.com/idris-lang/Idris-dev/wiki/Idris-on-Debian

I even reinstalled the whole haskell-platform, but the problem still exists.

[2016-12-04 17:13] xekoukou commented on #3546
Stack seems to work well ,though, with debian jesie and with minor modifications with debian testing.

[2016-12-04 21:12] ahmadsalim commented on #3509
@nicolabotta Great, thanks for confirming the issue. I had trouble installing `0.99` so I could not test it before.

PS: Is there any reason why you do not use `.ipkg` instead of a Makefile?

[2016-12-04 21:13] ahmadsalim commented on #3536
I will try to look at it next weekend.

[2016-12-04 21:18] ahmadsalim commented on #3545
You are welcome to add it and contribute a PR!

[2016-12-04 21:23] ahmadsalim commented on #3542
@mmn80 Sorry for not getting back to you sooner.
Am I understanding correctly that the overall goal is to separate the code generators from the rest of idris to have a more modular design?

PS: It would be nice if you summarized your design using a bit shorter text. I am having a bit hard time following the proposal.

[2016-12-04 21:25] ahmadsalim commented on #3544
Thanks for reporting the issue.
Which method are you using to build Idris for Fedora?

[2016-12-04 21:39] Termina1 commented on #3545
@ahmadsalim thanks, done!

[2016-12-04 21:55] ahmadsalim commented on #3545
@Termina1 Thanks!

[2016-12-04 22:02] nicolabotta commented on #3509
@ahmadsalim "Is there any reason why you do not use .ipkg instead of a Makefile?" : no, no particular reason. What are the advantages of .ipkg files against make files?

[2016-12-04 22:05] ahmadsalim commented on #3509
They automate certain task like building (making sure to find the optimal order), installation (making sure everything is in the right place), removing and REPL, provide more meta-information and allow you to set flags. Please, see http://docs.idris-lang.org/en/latest/tutorial/packages.html?highlight=package .

[2016-12-04 22:20] nicolabotta commented on #3509
@ahmadsalim I do not know how to write a .ipkg file and automate finding the optimal order for IdrisLibs. I might be missing something, of course. If you have a concrete suggestion on how to improve the current Makefile by means of  a .ipkg file, I would be happy to add it as an alternative build method to the current Makefile.

[2016-12-04 22:59] mmn80 commented on #3542
Sorry for the long text. Only the last comment contains the proposal in its entirety. I changed my mind after reading #1539.

Design:
- the `idris-core` package contains all Haskell code, has a `Simple` build, and the paths and all other environment vars are abstracted (to be instantiated by frontends)
- codegens completely split out (depend only on `idris-core`)
- frontend (`idris`) depends on `i

[2016-12-05 02:02] juhp commented on #3544
I think the build details are in the buildlog, but if needed I can copy and paste the command sequence here.

[2016-12-05 06:06] felixonmars commented on #3544
Same here for Arch. I have tried different combination of commands and all resulted in the same failure.

[2016-12-05 08:15] jfdm commented on #3542
Hi @mmn80 thanks for posting the proposals.

Certainly interesting. IIRC #1539 was abandoned as the proposer found an alternate route for their research, and refactoring the internals for better organisation was not an immediate priority.

Looking forward to seeing how this pans out, and how easy it is to maintain and affect for future iterations of Idris.

Ultimately, I think this will be up to @

[2016-12-05 08:34] jfdm commented on #3540
Hi @machunter

Is it possible for you to tell us which version of Idris you are using, and how you obtained it?

There was an issue (#3538) with the macOS/Mac OS X installer we provide via idris-lang.org that was resolved recently. I am wondering if your problem would be resolved by that.

Otherwise, it would be helpful to try and reproduce the error.

Thanks in advance.

Jan

[2016-12-05 08:37] jfdm commented on #3546
Hi, @libeako thanks for the issue report.

It looks like we need to tweak the bounds for some dependencies for the release on Hackage. Although @xekoukou does mention stack as an alternative installation method, it would also be nice to have people use `cabal install idris`, as that is the advertised way to obtain Idris, and not run into problems.

[2016-12-05 09:08] jfdm commented on #3546
@libeako Whilst I remember, cabal has some flags that might be helpful in the meantime:

[code]

It might be the case that some packages are not uptodate, if you *first* try: `cabal update` and then `cabal install idris`. If not, it might be good to try ``--upgrade-dependendencies``.

[2016-12-05 10:23] jfdm commented on #3544
Right, After looking at the code, I think I know what is happening here.

It *could* be that IdrisDoc is expecting the css file to be somewhere else than where it actually is. How this hasn't cropped up before now is beyond me. I shall look into it.

[2016-12-05 10:31] ahmadsalim commented on #3509
@nicolabotta
It would be something like:

[code]

[2016-12-05 10:52] edwinb commented on #3542
The way I did it was the simplest way that allows people to write new codegens without the Idris core needing to know about them - we used to have four different ones and it became something of a maintenance burden. Anything that keeps this property is fine especially if it results in better organisation.

By the way, I know it's not relevant to the proposal, but I don't know where you get the ide

[2016-12-05 11:32] jfdm commented on #3544
@juhp and @felixonmars

I have created a PR #3550, that should hopefully address the issue. If it is possible that you can test this PR locally that would be great. I am not sure how to reproduce the fault here.

[2016-12-05 11:54] jfdm commented on #3536
Going through issues, it appears that: @juhp, @felixonmars, and @steshaw, have experience packaging Idris for different linux distributions. It might be good to poll them about what we can do to improve a distributor's experience with packaging Idris, and packaging for Linux.

[2016-12-05 12:07] mmn80 commented on #3542
Hi @edwinb.  I did not want to go into details about my live coding RTS project in order to keep the post short, and also because it might fail. With that poor attempt at a joke I tried to communicate a bit (it's about [Erlang](http://erlang.org/doc/reference_manual/code_loading.html), rather then ML style modules), but I should have known not to use loaded language when talking to strangers over

[2016-12-05 12:26] jfdm commented on #3543
@juhp As an update, There is a problem in using `safe>=0.3.9` when compiling with the earliest version of GHC and Cabal in our build matrix: See #3549 for more information. Fortunately, Idris builds with every other version in the build matrix.

I am unsure why cabal and ghc are not playing well together for that particular build. I have an inkling that the wrong version of cabal is being used but

[2016-12-05 13:20] #3545 closed

[2016-12-05 13:23] nicolabotta commented on #3509
@ahmadsalim Thanks, Ahmad, I'll give it a try. The main problem with .ipkg files is computing `<modules>`. If I knew a way of computing an optimal order for building the .ibc files of the library, I could put the result of such computation here, see the discussion on the advantages and limitations of .ipkg files in #3324. But I do not know how to make such computation. One would ideally start with

[2016-12-05 13:26] ahmadsalim commented on #3509
@nicolabotta You should just list the modules in the order you prefer, as far as I understand you do not have to perform any computation manually.

You could also consider splitting up your different libraries in separate ipkgs if you find that there are too many things in one package.

[2016-12-05 13:30] #3517 closed

[2016-12-05 13:41] jfdm commented on #3509
@nicolabotta Given a list of modules specified in an ipkg file, Idris will compute for itself a build order from that list. You *do not* have to compute a 'special' ordering of modules in the ipkg field, any ordering will do. We discussed this in #3324. While you do have to list the modules manually in the first place it, it is something you nonetheless still have to do.

I understand that for a l

[2016-12-05 14:01] felixonmars commented on #3544
This fixes the problem here, and the build went on well. Thanks a lot!

[2016-12-05 14:26] jfdm commented on #3544
That is good to hear!

[2016-12-05 15:26] LeifW commented on #3536
Idris is also packaged for Arch Linux, available in the standard package
repos.

On Dec 5, 2016 3:54 AM, "Jan de Muijnck-Hughes" <notifications@github.com>
wrote:

[2016-12-05 15:38] felixonmars commented on #3536
I am using standard cabal installation to make the Arch package, it would be preferrable to keep it this way. At the moment, idris-0.99 seems to install the new doc files with 0600 permission, which should be changed to 0644 if possible.

Thank you!

[2016-12-05 17:02] nicolabotta commented on #3509
@ahmadsalim @jfdm I know that I can list the modules in the order that I prefer, but then I do not see obvious advantages in using Idris packages instead of make. In fact, with Idris packages, I have to manually maintain a list of files to be type check which I can avoid using make. If I go the manual way, I would like to have at least the advantage of being able to first build those files that ha

[2016-12-05 17:04] ahmadsalim commented on #3509
@nicolabotta You should have `contrib` and `effects` under pkgs.
If you prefer, you could instead have the Makefile task generate the `ipkg` file once in a while which will provide the advantage of both things.

[2016-12-05 23:55] steshaw commented on #3536
A while back I explored whether it was possible to build binary packages for Debian Jessie and publishing them using GitHub releases. The builds are triggered when the repo is tagged.

I didn't use a fork of Idris-dev so the build script must clone the Idris-dev repo. Other than that, these scripts would be similar to what you'd need.

- https://github.com/steshaw/idris-jessie/ (amd64)
- https://g

[2016-12-06 01:26] libeako commented on #3546
@jfdm, thank you. Indeed :
using cabal flag "--avoid-reinstalls" the installation succeeds without warning message.

[2016-12-06 02:16] juhp commented on #3543
Perhaps it could be made conditional on the ghc version?

[2016-12-06 05:12] machunter commented on #3540
I downloaded the package from the idris web site (http://www.idris-lang.org/pkgs/idris-current.pkg, http://www.idris-lang.org/download/),
`MD5 (idris-current.pkg) = dd37b58ca997748b997c5c33e0ec4ecc`

The REPL said 0.99

[2016-12-06 08:36] #3540 closed

[2016-12-06 08:55] jfdm commented on #3546
@libeako Glad to hear that you were successful in getting idris installed.

Given that the 'problem' can be resolved entirely through cabal, I am going to close this issue. The bounds we have work, but may require a cabal flag.

Happy Hacking!

[2016-12-06 08:55] #3546 closed

[2016-12-06 09:03] jfdm commented on #3546
As an addendum, i've updated the unofficial FAQs and the notes on the wiki for installing.

[2016-12-06 11:20] #3543 closed

[2016-12-06 13:20] bach741974 opened #3553 "Idris 0.99: type of Type 1"
Hello
In REPL `:t Type` works as expected producing `Type 1` but

If I try `:t Type 1` I get:

[code]

I use win 64 binary distribution of idris 0.99

Maybe it is expected.
Thanks

[2016-12-06 14:11] ahmadsalim commented on #3553
This is indeed expected behaviour.
Idris has cumulative universes so the type of `Type` (at level n) is `Type` (at level n + 1), however since Idris handles these coercions automatically behind the scenes using an efficient universe constraint solver, they are usually not shown to the user and so any `Type` at any level is just shown as `Type`.

If we kept this behaviour in general, we would have

[2016-12-06 14:13] ahmadsalim commented on #3553
I do think that this is a bit confusing and perhaps we should use a different notation for this case, so people don't think that it's possible to explicitly fix universe levels.

[2016-12-06 14:31] bach741974 commented on #3553
Thanks for the detail explanation!

[2016-12-06 14:31] #3553 closed

[2016-12-06 15:29] nicolabotta commented on #3509
@ahmadsalim Thanks, that works fine

@jfdm I have problems understanding the logic of .ipkg files. I have an `IdrisLibs.ipkg` example in `IdrisLibs` that works fine. I have now added a `Basic.ipkg` file to the `IdrisLibs/Basic` directory.  This directory contains three files:
[code]
The `Basic.ipkg`file reads
[code]
The `-i .. --sourcepath ..` options work as one would expect: both
[code]
and
[cod

[2016-12-06 15:38] #3488 closed

[2016-12-06 16:30] libeako opened #3555 "leading | in data type definition"
Please extend the simple syntax of data type definition with the possibility of "|" before the first case.

I want to be able to write
[code]

Currently
[code]
[code]
are some formatting choices, but anyway there is some asymmetry between the case-members. This makes the code somewhat unpleasant to read because the code look suggests something false [that the first case is exceptional]. And also s

[2016-12-06 17:05] jfdm commented on #3555
Hi @libeako;

As we are [heading to v1.0 of Idris](http://www.idris-lang.org/towards-version-1-0/) various parts of the language are being considered stable, and not subject to change. This includes the 'simple' syntax associated with the definition of non-dependent types.

I believe that this syntax has been considered stable for a while now, and as such it is highly unlikely that we will change

[2016-12-06 17:05] #3555 closed

[2016-12-06 17:17] libeako commented on #3555
Just in case i was misunderstood : i meant the leading "|" to be optional.

[2016-12-06 17:43] jfdm commented on #3555
Hi @libeako;

I understood what you meant. Unfortunatly, the answer is still the same.

Jan

[2016-12-06 20:42] libeako commented on #2659
Similar behavior : the generated html documentation of an interface does not mention the super interfaces.

[2016-12-06 22:15] jfdm commented on #1249
Erm I addressed this in PR #3462 , and forgot to close this issue.

[2016-12-06 22:15] #1249 closed

[2016-12-06 22:23] jfdm commented on #2049
I am going to close this, as I think the current situation with readthedocs and turn around times are sufficient.

[2016-12-06 22:23] #2049 closed

[2016-12-06 22:26] jfdm commented on #2334
I think PR #3551 addresses my issue sufficiently here. I still think the logging information, levels, and categories need tweaking, but that can come later.

[2016-12-07 00:03] mmn80 commented on #3542
@jfdm suggested on IRC that I should describe here in more detail what the problems I'm trying to deal with are, in order to clear some confusions, and focus the PR more on the solution.

The topic is *extension*, compile and run time. `idris` has excellent support for compile time extensions, with powerful types, syntax rules, elaborator reflection, etc. But `idris` also has some runtimes: those

[2016-12-07 02:26] juhp commented on #3543
Thanks

[2016-12-07 06:04] juhp commented on #3544
Fixed the problem for me too, thanks!!

[2016-12-07 07:27] #3544 closed

[2016-12-07 09:32] #3541 closed

[2016-12-07 11:48] bach741974 opened #3558 "Idris 0.99: incorrect cast of Nat"
Hello
Idris 0.99:
Idris> the Integer $ cast $ length "Hello!"
6 : Integer
Idris> the Integer $ cast $ length "Hello!" - 3
3 : Integer
Idris> the Integer $ cast $ length "Hello!" - 30
(input):1:38-39:When checking argument smaller to function Prelude.Nat.-:
        Can't find a value of type
                LTE 30 6

I suppose it is a bug

Thanks

[2016-12-07 11:54] #3558 closed

[2016-12-07 12:38] justjoheinz opened #3559 "ipkg files should allow comments"
The ipkg file parser should allow for single line comments, e.g.

[code]

should be a valid ipkg file. In my opinion that would help to create more human readable package files. Currently the implementation in `Idris.Package.Parser` is lacking such a functionality.

[2016-12-07 12:42] jfdm commented on #3559
Hi @justjoheinz;

As far as i am aware, the IPKG files can have haskell/idris style single and multi line comments. The only difference is that the ipkg file must start with package.

[2016-12-07 12:46] justjoheinz commented on #3559
This is correct. Sorry, I missed that reading the source.
For future reference `--` and `{- ... -}` work.

[2016-12-07 12:46] #3559 closed

[2016-12-07 13:04] ahmadsalim commented on #3558
@bach741974 Next time, please use the mailing list or IRC before submitting a bug report. Thanks

[2016-12-07 13:06] ahmadsalim commented on #3542
@mmn80 Could you please provide a couple of examples of what kind of runtime extensions you are interested in?

[2016-12-08 10:54] mmn80 commented on #3542
Well, upon further reflection I no longer believe this doubling down on the Haskell side is that much worthwhile.

So I was thinking of integrating Haskell packages such as `yi` or `diagrams` as a set of dynamically registered commands in the REPL/IDE of a type like `SExpr -> Idris SExpr`, rather then just `SExpr -> IO SExpr` or the current external codegen's `Args -> IO ()`. An Idris mode for `yi

[2016-12-09 00:48] juhp commented on #3536
(As documented on the wiki I have an idris repo for Fedora/RHEL7 at
https://copr.fedorainfracloud.org/coprs/petersen/idris)

Currently i don't really have any real concerns with idris packaging. :)

[2016-12-09 07:01] zstone1 opened #3562 "Interface constraints in interface implementations"
I am new to Idris, so please forgive me if I've missed something obvious, but I'm now quite stuck on a problem. I have found two related issues, having to do with combining interfaces. The following code fails
[code]
The error is
[code]
As far as I can tell, this is a bug. Even replacing "foo" with "?lemma" doesn't fix the problem. However, it's not really high impact due to `t` not being used. Ho

[2016-12-09 08:32] ahmadsalim commented on #3562
I would recommend having `f` as an explicit argument in the type, and only have the constraint in `LiftToProj`, i.e.:

[code]

On your examples: For the first case it is obvious for me that it fails, since there is no relation with `t` and the type you are implementing, but for the second case I am unsure whether it optimally should expose auto-implicits that are introduced by constraints or not.

[2016-12-09 13:50] melted commented on #3506
I don't see the value of not running the editor via a shell (ie system instead of rawSystem). On the other hand, I'm surprised this isn't already fixed. I seem to remember me doing it.

[2016-12-09 13:53] melted commented on #3506
Oh, yes, I did: https://github.com/idris-lang/Idris-dev/commit/799b4321a19b41b8e74069ecd6a3dc493a7bfe63

It first appeared in 0.12.3, so just upgrade.

[2016-12-09 13:55] melted commented on #3506
I see @ahmadsalim confirmed it. So reopening in case we have a bug on some platform.

[2016-12-09 14:01] berndlosert commented on #3506
I upgraded and it fixed the problem.

[2016-12-09 14:01] melted commented on #3437
Should be fixed with the 0.99 release with an upgraded gcc.

[2016-12-09 14:01] #3437 closed

[2016-12-09 14:08] jfdm commented on #3506
Problem solved then?

[2016-12-09 14:09] berndlosert commented on #3506
Yes. I'll close the issue.

[2016-12-09 14:09] #3506 closed

[2016-12-09 16:03] #3512 closed

[2016-12-09 16:03] #3535 closed

[2016-12-09 17:12] nomicflux opened #3564 "Error messages for unintended auto-implicits"
When trying to compile the following code:

[code]

I get the error message:
[code]

The code works when I replace the line:
[code]
with
[code]
or
[code]
So the error seems to be merely that Idris attempts to treat `doorResult` on its own as an auto-implicit.  This is far from clear from the error messages; is there any way of noting potential unintended auto-implicits in them, or checking whether

[2016-12-09 18:55] zstone1 commented on #3562
Yes, that fixes the problem. Thank you.

After seeing your solution, I think I'm beginning to understand what's going on. It seems like there is some subtlety about how the type constraints in the implementation signature get translated to constraints on the functions on the interface. I still don't fully understand why example 2 doesn't work, though. Is there somewhere I can read more about this?

[2016-12-09 21:43] Termina1 opened #3566 "Idris 0.99 hangs indefinitely during typecheck"
I'm trying to typecheck this file:
https://gist.github.com/Termina1/139f90d4b7f587208e57d467da4b5f8a

But it never stops.

I'm running OS X
[code]

[2016-12-10 01:55] ubsan commented on #3535
😄

[2016-12-10 10:34] GetContented opened #3567 "non-Forward Declarations"
I came to Idris from Haskell (and other languages). I've only just started learning Idris properly, and something keeps being a little awkward for me (mostly because i'm not used to it).

Would it be possible to have non-forward declarations, or is that by design? Is this a ramification of non-laziness?

What I mean is... I'm used to being able to write my functions and their type signatures after

[2016-12-10 11:17] GetContented commented on #3567
Sorry I understand why this is the case now. I'll close this.

[2016-12-10 11:17] #3567 closed

[2016-12-10 11:33] GetContented opened #3569 "Documentation on main site broken"
There are several links to prelude, base, contrib, etc on the main documentation site that are broken links. Trying to find out what functions and types are included in these packages is difficult for beginners.

http://www.idris-lang.org/documentation/

for example: http://www.idris-lang.org/docs/current/base_doc/

Are these installed with idris?

[2016-12-10 16:11] jfdm commented on #3569
@GetContented as of Idris v0.99 the documentation is installed with Idris. Please see the contents of `idris --docdir` for the same documents.Also there are built in search tools within the Idris compiler, for [which information is available](https://github.com/idris-lang/Idris-dev/wiki/Unofficial-FAQ#is-there-some-documentation-for-the-standard-lib-list-of-functions).

 Unfortunately, when we rel

[2016-12-10 19:14] ahmadsalim commented on #3562
@zstone1  I have tagged it as an error message improvement. Please, update your text to reflect that if you can, thanks!

[2016-12-10 19:15] ahmadsalim commented on #3564
I think it was proposed that one could implement a flag that warned about these kind of issues.

[2016-12-10 19:16] ahmadsalim commented on #3564
Thanks for the issue!

[2016-12-11 00:12] GetContented commented on #3569
It's fine. I just wanted to let you know as it's not the best if the docs can't be found on the official website :)

Thanks, though! that caused me to realise I hadn't updated since 0.10.something ! :) (because `--docdir` didn't exist). I can close this if you'd like, but maybe it should stay open until we've updated the website? Can I help?

[2016-12-11 15:13] mmn80 commented on #3542
### Status update

The refactoring work is now a minimalistic conservative extension. Everything that used to work, including the external process codegens written in Haskell, will continue to work the same, but now you will also be able to publish interactive codegens and Idris libs that will be integrated by the frontend.

In order to minimize the number of files that need to be changed (for eas

[2016-12-11 15:24] ahmadsalim commented on #3542
@mmn80 Thanks for the update, we appreciate the effort!
If you have a version that is conservatively working with Idris please open a PR as soon as possible, so that we can review the code and perhaps merge it before there becomes too much bitrot.

[2016-12-11 16:13] mmn80 commented on #3542
I still have things to do. I will send a PR only when I get it to actually work, which will be sometime next week, hopefully. I didn't have the curiosity to try and merge new commits, but I'm sure git will fail me once again and I'll have to do everything manually.

[2016-12-11 23:11] #3398 closed

[2016-12-12 11:24] #2731 closed

[2016-12-12 11:24] #3280 closed

[2016-12-12 13:57] bach741974 opened #3572 "Too complex typecheck of Nat operations"
Windows 7, 64, Idris 0.99 (including dev version)
Let_Where.idr:
module Diff

diff_length : String -> String -> Nat
diff_length word1 word2
  = let len1 = length word1
        len2 = length word2 in
    if len1 > len2 then len1 - len2 else len2 - len1

This small code produces

Let_Where.idr:7:47-48:
When checking right hand side of diff_length with expected type
        Nat

When checking argumen

[2016-12-12 14:19] ahmadsalim commented on #3566
@Termina1 It seems to me that type checking things with Bits is taking a long time, even for simpler programs. It may just be the case that it is taking too much time rather than hanging.

In any case, I still would consider this an issue, thanks for reporting.

[2016-12-12 14:22] Termina1 commented on #3566
@ahmadsalim also, I forgot to add, that version 0.12.3 typechecks this in few seconds.

[2016-12-12 14:38] xekoukou commented on #3572
https://github.com/idris-lang/Idris-dev/blob/d89f3fab2db87ac0fa7a1935056036f45b3680d9/libs/prelude/Prelude/Nat.idr#L202

If you look at the definition of (-), It wants to know that the a >= b to perform (a-b).

In any other lanugage like c, javascript, etc. the compiler wouldn't complain if you gave the wrong arguments.

In your example, the fact that you checked outside of the (-) function does n

[2016-12-12 14:40] ahmadsalim commented on #3572
I can understanding why this error is confusing, and I think the error message could indeed be improved so I will leave this issue open.

[2016-12-12 20:54] dvc94ch opened #3573 "Distributing idris for `guixsd`"
Hi,

While updating the idris package for the guixsd distribution I noticed a couple of things that could be improved to help packaging idris and idris modules.

`IDRIS_LIBRARY_PATH` only accepts a single path instead of a colon separated list. I think this would help packaging nixos too.

I think that the location of the idris standard libraries is `/share/x86_64-linux-ghc-7.10.2/idris-0.12.3` by

[2016-12-12 21:23] jfdm commented on #3573
Hi @dvc94ch

`IDRIS_LIBRARY_PATH` is used to point to the single directory where Idris packages are installed to. At the moment, Idris does not support having multiple directories on that path.

How Idris is installed can be customised using cabal. Please see `mkpkg.sh` script in Idris' source folder for an example, and read cabal's documentation for more information. This is the best approach whe

[2016-12-12 23:52] allancto commented on #3573
@jfdm, editing the "download" instructions for ubuntu to include stack might be useful, right now afaik they refer only to cabal but not stack, which might be helpful to a new generation of hs folks who use stack but not cabal directly.

Thanks!

[2016-12-13 00:26] allancto opened #3575 "Semantics of Functor interface does not match its signature."
Previous discussions:
groups.google.com/d/msg/idris-lang/ryQcVLy08sc/FTOR4bA-gRMJ
groups.google.com/forum/#!topic/idris-lang/CV9FlWdV0kI

Status: I believe this is a bug, and I would work on it, perhaps someone might give me some guidance? I feel like the error might come in Idris.Elab.Implementation.hs from checkInjectiveArgs, and a fix might be done in Language.Reflection.idr, but i don't actual

[2016-12-13 09:02] jfdm commented on #3573
@allancto

Thanks for the suggestions.

However, as building Idris with stack is in a quasi-official-unofficial state, I am (personally) tempted to shy away from updating the documentation in the Idris wiki to include stack for general Idris installation. Although, I am aware that stack can be used to install idris globally, stack is more of a tool for developing Haskell packages and not their ins

[2016-12-13 09:40] jfdm opened #3576 "Update Tutorial and Reference with new language extensions."
[Recently](https://github.com/idris-lang/Idris-dev/commit/58c3bb760a8930a48848d82ad42c0bffa795dc44), some language features have been hidden behind language pragmas.

Idris' documentation, that is the tutorial and reference documents, should be updated to reflect those changes.

[2016-12-13 10:28] ahmadsalim commented on #3575
@allancto Thank you for the issue; I have tried to fix the formatting.
Would it possible for you to use [Gist](gist.github.com) for `ConstBool.idr`, since GitHub issues do not support attachments.

[2016-12-13 13:05] dvc94ch commented on #3573
Hi @jfdm

I think that IDRIS_LIBRARY_PATH taking a colon separated list is necessary as other distros are hacking around this too. I'll try to submit a patch for this.
https://github.com/NixOS/nixpkgs/tree/master/pkgs/development/idris-modules#with-packages

Changing the installation location of the stdlib is relatively straightforward, I can patch this on the distro end, I just thought I'd mentio

[2016-12-13 13:35] jfdm commented on #3573
@dvc94ch I suggest looking at the contents of Idris' Makefile, as we use that to build and test Idris on Travis. This will show how we use cabal to build and runs tests.

As for the environment variables. Some are useful for overriding Idris' defaults once Idris is installed (e.g. `IDRIS_LIBRARY_PATH`), and some are useful for helping with the installation---`TARGET`. When installing Idris for tes

[2016-12-13 18:21] dvc94ch commented on #3573
Ah I forgot to mention that the tests worked with idris 0.9.19.1. I assume a lot has changed since then, it's the update to 0.12.3 that broke the test suite. I'll see if I can narrow down the commit that caused this.

[2016-12-13 18:30] allancto commented on #3575
Thanks Ahmad! is this proper:

gist.github.com/allancto/e7b36e19546c53302599e7cbc2c7b6d7

Allan

On Tue, Dec 13, 2016 at 2:28 AM, Ahmad Salim Al-Sibahi <
notifications@github.com> wrote:

--
..if we want to be next level we gotta roll next level..
..if we wanna be ontopada foodchain we gotta read da newspapers from
ontopada food chain.

[2016-12-13 20:29] berndlosert opened #3578 "Idris 0.99 on OS X 10.6.8"
I installed Idris today using the OS X idris-current.pkg installer on my old MacBook running OS X 10.6.8 (Snow Leopard) and it worked fine. However, when I run `idris` from the Terminal, it dies saying `segmatation fault` or `Illegal instruction`. I assume this is because my OS X version is too old. If this is the case though, why does the pkg installer let me install it?

[2016-12-13 21:58] allancto commented on #3573
@jfdm, i apologize for not volunteering about stack, i agree with the comment that stack isn't designed for distributing binaries, and I have a confession to make I've been using Idris on windows (works great) and only just was thinking of installing it on a second (linux mint) machine BUT I'm no expert on Linux distribution, probably someone should volunteer who is a Linux hacker :p

[2016-12-14 02:19] sleexyz commented on #2266
I ran into the same issue: Implicits don't work in the types of record fields:

Example. `Foo` Typechecks, but not `Bar`:
[code]

[code]

[2016-12-14 10:41] mmn80 commented on #3542
PR opened.

[2016-12-14 13:00] develop7 commented on #3450
I probably should mention idris v0.99 is affected too

[2016-12-14 23:22] #3542 closed

[2016-12-15 08:44] mpkh opened #3579 "problem installing 0.99 : styles.css: copyFile: does not exist"
`copyFile` should respect `DESTDIR` (`/var/tmp/portage/dev-lang/idris-0.99/image`)

[code]

[2016-12-15 08:59] jfdm commented on #3579
Hi @mpkh;

Apologies about the problem you have experienced.

We are aware of the problem and it has been fixed upstream---see #3550. I will liaise with @edwinb about pushing a new 'hot fix' release with the changes.

Jan

[2016-12-15 09:04] mpkh commented on #3579
@jfdm thank you, please don't edit current release, make 0.99.1 or alike, editing published sources is not very good idea, specially if I will put provided patch as workaround.

[2016-12-15 09:08] jfdm commented on #3579
@mpkh Thanks for the comments. Part of Idris' release strategy is to respect PVP and releases are never 'edited', and version numbers are always incremented. I used the term 'hot fix' to recognise that any new release will be brought about to fix something.

[2016-12-15 09:25] mpkh commented on #3579
@jfdm I've tested that provided commit helps https://github.com/gentoo-haskell/gentoo-haskell/commit/05d8822df181fe46b684c2a5490e1538822f10b5
feel free to close this issue.

[2016-12-15 15:07] allancto commented on #3573
again, I'm not primarily Linux, but it seems as though stack is also having its own Linux distribution issues. Is there a chief Linux hacker who is up on this?
reddit.com/r/haskell/comments/5i9yv1/release_v130_commercialhaskellstack_github/db7ga3y/ reddit.com/r/haskell/comments/5i9yv1/release_v130_commercialhaskellstack_github/db7ywzk/

[2016-12-15 15:39] allancto commented on #3575
aggh link to [`ConstBool.idr`](https://gist.github.com/allancto/e7b36e19546c53302599e7cbc2c7b6d7) was broken, should work now.

[2016-12-15 20:45] jfdm commented on #3573
@dvc94ch I believe that the tests do work in a custom cabal sandbox. A user who builds Fedora packages is successfully building and testing Idris. They use cabal to ensure Idris is installed correctly for Fedora. It *could be* that the problems you are experiencing with Idris on nixos or guix could be the result of them *incorrectly* installing Idris; they *could be* hacking their build system whe

[2016-12-15 20:48] jfdm commented on #3579
Thanks @mpkh I was going to close this issue regardless, as it was fixed upstream.

[2016-12-15 20:48] #3579 closed

[2016-12-15 21:00] jfdm commented on #3578
@berndlosert Sorry for not getting back to you earlier.

While we know a thing or two about dependent types, distributing Idris is another matter entirely. Not specifying the OS X version is an oversight on our part. Although, I am not experienced in building installers for mac os x, I am sure there [is a way to do so](http://thegreyblog.blogspot.co.uk/2014/06/os-x-creating-packages-from-command_2

[2016-12-15 21:16] LeifW commented on #3578
So based on that link, sounds like we could use the `productbuild` command on the package we create with `packagebuild` to make a fancier-looking package that specifies the minimum OS version? And maybe it'd even have uninstall functionality? (the current "uninstall" is just to delete the directory with idris in it)
https://github.com/idris-lang/Idris-dev/blob/master/mkpkg.sh#L61

[2016-12-15 21:37] dvc94ch commented on #3573
@jfdm Thanks! I've disabled the tests for now.

[2016-12-15 21:38] LeifW commented on #3573
As far as controlling where Idris's libraries get installed to, there's the cabal options `--prefix`, and also `--datasubdir`. The Idris package for Arch Linux sets those to `/usr` and `idris`, respectively, so Idris libs for that package get installed to `/usr/share/idris`. https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/idris#n39
@felixonmars (the maintainer of th

[2016-12-16 09:16] jfdm commented on #3573
@dvc94ch Just to point out as well, Idris does have a series of command line flags to be used at runtime to add additional search paths for idris libraries. Please see `-i <path>` `--idrispath <path>` for adding additional `.ibc` to idris search path, and `--sourcepath <path>` for adding additional sources. I cannot remember of the top of my head if `-i` negates the use of package specification.

[2016-12-16 13:15] dvc94ch commented on #3573
The workflow I'm aiming for is the following:

[code]

Preferably without adding a wrapper around idris that parses an env variable to prefix cli flags. I'm not sure yet when exactly the -p flag is needed.

I haven't used idris since January last year so I have to refresh my memory on the details. Packaging new languages and module support for guix can be a pain sometimes, but I think it's well wo

[2016-12-18 20:12] jachymb opened #3585 "Remove eqSucc in favor of cong"
It seems to me pointless to have the `eqSucc` function when there is `cong`. According to git history, `cong` is almost 2 years newer, so it seems that `eqSucc`  exists only due to historical reasons. I find it confusing and I think it should be removed. Alternatively, `eqSucc` could be redefined as specialised alias for `cong`.  I a willing to post PR implementing whichever change is preferred -

[2016-12-19 10:17] jachymb commented on #2821
Anton Trunov on StackOverflow says that this is related: http://stackoverflow.com/questions/40687199/valid-case-error-after-idris-hint?noredirect=1

[2016-12-19 19:31] jachymb opened #3586 "Confusing reduced type signatures in REPL"
In Prelude.Nat, there is:

[code]

However when I ask for the type in REPL, I get:
[code]

I understand why it is logically valid, however, it is inconsitent behavior and confusing to the user. The first case obtained by :t is obviously preferred.

Using Idris 0.99.

[2016-12-20 00:13] jachymb opened #3587 "Invalid case-split resulting in impossible"
I am trying prove the following simple statement:

[code]

I ask Idris for body skeleton and get:
[code]
OK, then I case split on `prf` and get:
[code]

Sill OK, but then I case split again on `prf1` and get:

[code]

Which is nonsense. Idris actually knows there is some problem, because I get this error when reloading:
[code]

By the way, here is a valid proof:

[code]

[2016-12-20 16:56] xekoukou commented on #3587
I think that the problem is that having Refl in the second proof does not update the types/values of the previous arguments.

It would a very nice feature to have that. Till then, it will confuse people.

In agda, this works :
[code]

[2016-12-21 13:49] justjoheinz opened #3591 "Two minor errors when using documentation on functions"
[code]

[2016-12-21 20:42] jfdm commented on #3591
From what I remember, the assumption with idris doc is that a *brief* piece of text should be given first before parameter documentation is given. If there is to be a fix it looks like it would be in the parser. Will take a look when I can, but if someone wants to fix it first then by all means.

[2016-12-21 20:59] david-christiansen commented on #3591
The docs have the following syntax:
[code]

The first paragraph of the markdown text is considered a summary, and will be shown in things like tooltips, while the complete text is shown in responds to commands like `:doc`.

In other words, there is not support for interleaving textual documentation and documentation for parameters. This is by design, because parameter documentation should be able

[2016-12-21 21:00] david-christiansen commented on #3591
So what's happening here is that the example is being added as docs for `second`, so it's indented further.

[2016-12-21 22:47] edwinb commented on #3586
This is expected behaviour because the first shows the type from the Prelude, as written, and the second normalises it. In the second case, you're not asking for the type, you're asking for multOneLeftNeutral to be evaluated, and as well as evaluating the expression, it evaluates the type.

It's not inconsistent because :t and evaluation do different things, so the type shouldn't be expected to be

[2016-12-21 22:47] #3586 closed

[2016-12-21 22:53] edwinb commented on #3585
I don't have any particularly strong opinions on this one, except to remark generally that it's sometimes useful to have specialised versions of some functions/proofs either for the sake of a simpler interface for commonly used things, or as a path to learning some more complex feature. I don't think either of those apply here so I expect if someone submits a PR that doesn't break anything, we'd b

[2016-12-21 22:56] edwinb commented on #3525
The underlying issue here is the same as #3269 - namespace disambiguation in 'impossible' clauses doesn't work properly, because disambiguation relies on finding a thing that typechecks, and 'impossible' relies on finding a thing that doesn't. I'll look for a better way of doing this in 'impossible' clauses.

[2016-12-21 23:01] jfdm commented on #3525
Thanks for looking at this, given that it is a duplicate I shall close it if favour of keeping #3269 open. No need to keep duplicates open...

[2016-12-21 23:01] #3525 closed

[2016-12-22 13:36] justjoheinz commented on #3485
Maybe we could at least add a Warning on top of the file effects, that the tutorial is currently not reflecting the current state?

[2016-12-22 13:39] jfdm commented on #3485
depending on the winter break goes, this should be fixed by next year...

[2016-12-23 12:51] edwinb commented on #3269
I've looked at both of these, and will fix both fairly soon - they're not the same issue, but they are both problems with how impossible cases are identified.

The one in the issue itself is because 'impossible' doesn't play nicely with name disambiguation. There's a couple of better (and sound) ways of doing this which I'll try shortly.

The second one is because the checker, wrongly, doesn't thi

[2016-12-23 13:19] ahmadsalim commented on #3269
@edwinb Sure :), I have added a `U-Inconsistency` label and assigned it to this issue.

If you are in any case interested at the labelling system, I actually did write something up in the wiki: [Issue Labelling System](https://github.com/idris-lang/Idris-dev/wiki/Issue-Labelling-System).

[2016-12-26 15:44] ahmadsalim commented on #3575
@allancto I unfortunately do not know a good answer to this language design question.
Have you tried making a new thread on the mailing list asking specifically for this? Usually there are more people active there who might provide better feedback.

[2016-12-26 15:46] ahmadsalim commented on #3585
You are of course welcome to submit a PR if interested.

[2016-12-26 15:47] ahmadsalim commented on #3587
I agree with @xekoukou that having this in Idris would be nice as well.

[2016-12-26 15:48] ahmadsalim commented on #3591
@david-christiansen Is this then a won't-fix?

[2016-12-27 05:15] dalcde opened #3592 "Incorrect implementation of div and mod"
The functions `div` and `mod` of `Integer` (and `Int` etc.) do not satisfy

    (div a b) * b + (mod a b) = a

since in the backend, the Haskell function `div` is used for `div` while `rem` is used for `mod`, where in fact `div` should be paired with `mod` and `quot` should be paired with `rem` for the above equation to hold.

This causes issues when implementing, say, the Euclidean algorithm.

[2016-12-27 05:24] Melvar commented on #3592
I checked the C backend, which turns out to also use mismatched functions, `mpz_tdiv_q` vs. `mpz_mod`.
`mpz_tdiv_q` rounds the quotient towards zero, so the corresponding remainder should have the same sign as the dividend. `mpz_mod` instead always produces a nonnegative result.

[2016-12-27 15:10] ahmadsalim opened #3593 "Allow support for pattern matching function binders"
Currently, defining functions which depend on a specific sub-component of a record element requires a bit of work.

Either you have to use the record projections explicitly each time you need a subcomponent, like so:

[code]

Or you need to have a pattern matching let in the function signature, like so:

[code]

It would be nice if it was possible to have an in-line way of pattern matching for rec

[2016-12-27 15:11] ahmadsalim commented on #3593
*NB: This is a mirror of the agda/agda#2361 issue*

I needed the functionality while doing some proofs in Agda, and I thought I should probably report it here as well since it might be useful.

[2016-12-28 13:36] justjoheinz commented on #3591
I would be willing to close this, if it were possible to unindent again:
[code]

[2016-12-28 19:42] yurrriq opened #3594 "The Pruviloj.Induction.induction error message could be improved"
When I make this typo:

[code]

*[Specifically, I forgot to include `f` on the left-hand side.]*

I get the [somewhat cryptic error message](https://github.com/idris-lang/Idris-dev/blob/v0.99/libs/pruviloj/Pruviloj/Induction.idr#L135):

[code]

`f` needs to be on the left-hand side so we do induction on `l`, which, unlike `f`, **is** an *inductive family*:

[code]

[2016-12-29 00:16] david-christiansen commented on #3594
Isn't `mapPreservesLen` already highlighted and clickable in that message?

I'm all for better messages, though. At the very least, "inductive family" can be replaced with "a datatype declared with the data keyword"

[2016-12-29 00:45] yurrriq commented on #3594
For me it's not highlighted (`List`, `length` and `map` are), but it is indeed clickable.

:+1: for "a datatype declared with the data keyword"

[2016-12-29 06:01] #3594 closed

[2016-12-29 06:16] david-christiansen commented on #3594
Right, it's not highlighted because the highlighting is based on it having defined the function, and the function does not yet exist when it makes that message :-) It would be nice to figure out a model where that doesn't happen.

[2016-12-29 07:15] david-christiansen commented on #3102
Yes, this is looking good now. I wonder what happened. Thanks for posting the update!

[2016-12-29 07:15] #3102 closed

[2016-12-29 08:01] david-christiansen commented on #3575
The signature does say that `f` must be a parameterized type, right here:
[code]
The `Type -> Type` bit says that part.

The reason for the injectivity requirement is that it's assumed by the unification engine during instance resolution. The behavior you're seeing is all by design. Let me explain the design a bit :-)

The first error comes from this:
[code]
This is because `constBool` is consider

[2016-12-29 08:01] david-christiansen commented on #3575
If you can think of a good way to make this more clear from the docs, that would be a good way to contribute!

[2017-01-01 19:24] Nitrogenycs opened #3599 "Internal error: "Unelaboratable syntactic form ...""
Hello,

I'm getting an internal error when working with Idris in ide-mode using the Atom.io plugin. The detailed error message and the code triggering this is given below.
To reproduce the issue put the cursor on the "bitConversionIdentity_S" line and hit Ctrl+Alt+C (case split). I guess the equivalent command in other editors will work just as well.

And yeah, I realize there are already built-in

[2017-01-02 16:02] #3573 closed

[2017-01-05 00:57] SuprDewd opened #3601 "When casting string to number, leading whitespace is allowed but trailing whitespace is not"
As the title says, the following works (note the leading spaces):
[code]
while the following does not (note the trailing spaces):
[code]

As is the case in Haskell, I would expect both of these to work.

[2017-01-05 01:05] SuprDewd commented on #3601
To fix this for Int and Double, the corresponding lines are [here](https://github.com/idris-lang/Idris-dev/blob/ad1343827cb052d23196494cd24659d2a38c220a/src/Idris/Primitives.hs#L458) and [here](https://github.com/idris-lang/Idris-dev/blob/ad1343827cb052d23196494cd24659d2a38c220a/src/Idris/Primitives.hs#L484). So, instead of having an explicit `""` (empty string) in the guard, this should be a vari

[2017-01-05 03:32] SuprDewd opened #3602 "readFile is inefficient"
When reading a large file with many lines (size 35M, 2 million lines in my case) using the readFile function, it seems to take forever. Haskell's readFile takes less than a minute with the same file.

For completeness, here is the specific [file](http://mirror.switch.ch/mirror/sagemath/spkg/upstream/database_odlyzko_zeta/database_odlyzko_zeta-20061209.tar.bz2) (.tar.bz2).

This is likely due to th

[2017-01-05 15:05] #3601 closed

[2017-01-05 17:50] jfdm commented on #3602
Just for clarification, which `readFile` are you talking about.

[2017-01-05 18:02] SuprDewd commented on #3602
Are there many? In any case, it's the one I was pointing to in the link in the description: [Prelude.File.readFile](https://github.com/idris-lang/Idris-dev/blob/0d3d2d66796b172e9933360aee51993a4abc624d/libs/prelude/Prelude/File.idr#L260).

[2017-01-06 14:16] ahmadsalim commented on #3536
I have tried taking a look at this, and it seems that the process is more cumbersome than I had originally expected. Despite my initial intentions, it seems that I would unfortunately not be able to have time to look at this; therefore, I will unassign myself, in case anyone else would like to look at this.

[2017-01-07 02:03] allancto commented on #3575
David, thanks for this information, and I apologize for taking so long to respond. I would definitely like to contribute to the documentation as soon as I understand better myself how to describe the restrictions.

First, I'd like to understand how the restriction might be removed with named types. Also I'd like to understand more clearly what you mean by unification and injectivity. I'm guessing

[2017-01-08 22:50] maun commented on #1825
Would it be possible to use npm/yarn as package manager for Idris and package.json as the format? I saw that this is done in facebooks "reason".

[2017-01-10 21:19] berdario opened #3610 "Weird putStrLn behavior"
Given the following transposeMat definition:

[code]

Running `:exec print $ transposeMat $ the (Vect 2 (Vect _ Nat)) [[1,2,3], [3,4,5]]` in the repl prints an empty string

defining
[code]

instead, and invoking `:exec p` in the repl works as expected

[2017-01-12 06:24] bach741974 opened #3614 "Possible 1/0 in idris 0.99"
Hello,

Below code can be successfully type checked and compiled in 0.99 (windows 7, 64) producing output  like

[code]

I expect that typechecker should reject impossible in this case

Thanks, Evgeny

[code]

[2017-01-12 16:22] ahmadsalim commented on #3614
I agree, it should reject that the case is impossible.

[2017-01-12 20:52] #3505 closed

[2017-01-15 14:26] atacratic opened #3616 "Incorrect typing of instance method when using named parent instances"
I'm trying to define a named implementation which has two named parent implementations, with the new experimental "using" syntax (from https://github.com/idris-lang/Idris-dev/commit/254a227307830016a4cf277ab9866395fe155893).  But the expected type of the methods is coming out wrong (I think).

The problem is in the last line of the code below, in the implementation of MultNatMonoidV.  The compiler

[2017-01-18 15:11] rodrigogribeiro opened #3620 "Error"
I'm trying to model Agda style equational reasoning proofs for Setoids (types with an equivalence relation). My setup is as follows:

    infix 1 :=:

    interface Equality a where
      (:=:)  : a -> a -> Type

    interface Equality a => VerifiedEquality a where
      eqRefl : {x : a} -> x :=: x
      eqSym  : {x, y : a} -> x :=: y -> y :=: x
      eqTran : {x, y, z : a} -> x :=: y -> y :=: z -

[2017-01-18 15:22] rodrigogribeiro opened #3621 "Strange behavior of totality checker"
I've developed a certified regex string matching algorithm based on derivatives in Idris.
The totality checker of Idris 0.99 is complaining about the following theorem

    derivComplete : InRegExp (x :: xs) e -> InRegExp xs (deriv e x)
    derivComplete {e = Zero}{xs = xs}{x = x} pr = void (inZeroInv pr)
    derivComplete {e = Eps}{xs = xs}{x = x} pr with (inEpsInv pr)
     derivComplete {e = Eps

[2017-01-18 22:53] eatobin opened #3622 "Version .99 on Stackage?"
See Issue #2501

Would it be possible to place Version .99 on Stackage? Current version is 0.12.3.

Thank you.

[2017-01-19 17:04] nicolabotta opened #3623 "The type of (s1 : EQ = compare x y) does not appear to be EQ = compare x y!"
I would like to prove that
[code]
The plan is to first show that `LT = EQ` (and `LT = GT`) are not inhabited:
[code]
and then do something like
[code]
This fails with
[code]
which is a bit surprising given that the types of `p` and `s1` are `LT = compare x y` and `EQ = compare x y`, respectively. Any idea what is going on here?

[2017-01-19 17:21] nicolabotta opened #3624 "Interface issue ?"
The program
[code]
type checks fine but
[code]
fails to type check with
[code]
Is this an issue with interfaces? The problem can be circumvented by explicitly qualifying `LT` but the behavior is still quite annoying and certainly unexpected.

[2017-01-19 19:41] byorgey commented on #3419
So I tried disallowing duplicate names in top-level types --- see my branch linked above.  But when I use the modified idris to load idris code I get lots of errors like `Duplicate name __pi_arg is not allowed in a top-level type.`  The "Duplicate name ... not allowed" is an error message I added; it seems the problem is that all unnamed arguments have the same "name" `__pi_arg`.  Is there any way

[2017-01-19 21:56] MartinErwig opened #3625 "Reusing Refl constructor leads to crash (Version 0.99, Mac OS)"
When I try to load a file that contains the following definition:

[code]

The interpreter crashes with the following error message:

[code]

[2017-01-20 03:22] allancto commented on #3622
Agreed, I found out that 'stack install idris' works  and it should be a good solution for basically installing binaries on linux systems. I would say this "technique" belongs right on the http://www.idris-lang.org/download/ under the Binary section.

@juhp, seems as though you did a good job with this in the past so that would make you official "maintainer by previous volunteering" 👍 🥇

[2017-01-20 04:43] juhp commented on #3622
I think it can't be re-enabled yet or updated on Stackage Nightly/LTS due to:

safe-0.3.10 (Neil Mitchell @ndmitchell) is out of bounds for:
- [ ] idris-0.99 (==0.3.9). Jens Petersen <juhpetersen@gmail.com> @juhp. @idris-lang. Used by: library

If a release or Hackage revision can be made then I think we can re-add/update idris in Stackage Nightly/LTS, thanks.

[2017-01-20 07:41] bach741974 commented on #3624
Hello,

I suppose it ok. In first case you have EQ as constructor only in Ordering data type:

Idris> :t EQ
EQ : Ordering
and Idris can infer a type on LT
But in last  case Idris cannot make this because LT and GT are defined in different types and interfaces:

Idris> :t LT
Prelude.Interfaces.LT : Ordering
Prelude.Nat.LT : Nat -> Nat -> Type

Idris> :t GT
Prelude.Interfaces.GT : Ordering
Prelude.N

[2017-01-20 10:37] nicolabotta commented on #3624
@bach741974 Thanks, that's a good explanation and I am closing the issue!

[2017-01-20 10:37] #3624 closed

[2017-01-20 11:25] nightscape commented on #3443
The Idris docs state that one major thing that is needed for self-hosting Idris is a decent parser implementation. If one were to write a pure Idris parser that fits the bill, could this then be integrated into the Haskell-based rest of the stack?
In Scala world there's a lot of fuzz around a new library called [parseback](https://github.com/djspiewak/parseback#motivation) which seems to be a very

[2017-01-20 15:57] nicolabotta opened #3626 "Unelaboratable syntactic form"
The program
[code]
yields
[code]
which I diligently report.

[2017-01-20 16:57] eatobin commented on #3622
Thanks for checking...

[2017-01-20 17:08] allancto commented on #3622
I'm confused, I thought @juhp said this was resolved in issue #3543? But @eatobin , you're saying "stack install idris" is still not installing 0.99?

Allan

[2017-01-20 18:18] eatobin commented on #3622
Well @allancto, if I understand this Stackage [page](https://www.stackage.org/lts-7.16/package/idris-0.12.3) correctly, "stack install idris" will install v 0.12.3 - which seems to be the current version there. No? Eric

[2017-01-20 18:48] allancto commented on #3622
Indeed this seems to be odd-- the [page](https://www.stackage.org/lts-7.16/package/idris-0.12.3) seems to be stuck on 0.12.3. @edwinb is listed as sole maintainer for it-- is it possible that Edwin needs to update the page, now that #3543 is fixed?

Allan

[2017-01-20 20:57] jfdm commented on #3622
@juhp explained it well. The problem will get resolved when a new release of Idris is cut that allows for idris to be included. IIUC due to stackages use of the PVP, idris is being held back as v0.99 restricts safe. Patience.

[2017-01-20 21:24] david-christiansen commented on #3419
The `__pi_arg` thing is a bit of a wart in Idris. Ideally, they would be built with the `MN` constructor, with an explicit gensym counter value.

I tried doing that a year or so ago, and something obscure broke that I didn't have time to fix, so I never committed it. But it might work now. There's a fresh name effect that can be used in the elaborator where the `__pi_arg`s are inserted.

`MN`s are

[2017-01-20 22:10] byorgey commented on #3419
OK, thanks!  I'll give it a shot.

[2017-01-21 03:58] juhp commented on #3622
Is it possible to revise 0.99 on Hackage to allow newer `safe` or does that depend on other code fixes?

[2017-01-21 09:55] jfdm commented on #3622
it boils down to the same problem, pushing a new release. IIRC @edwinb is timing these releases with changes to the book in mind. So, i think patience and wait. I would cut one myself, but I don't have permission to place on package, nor do I want to interrupt @edwinb workflow.

[2017-01-21 11:06] juhp commented on #3622
The Hackage package owner can revise the `safe` bounds on Hackage if that is the only change needed, without needing to make a new release, hence my question. :-)

But yes i think only Edwin can do that currently.
https://hackage.haskell.org/package/idris/maintainers/

[2017-01-21 17:09] allancto commented on #3622
@jfdm, you're right, not interrupting @edwinb is an important priority! But this is going to always be an issue and probably @edwinb will want to handle it by designating a co-maintainer, perhaps yourselves @jfdm or @juhp or @ahmadsalim. Otherwise having versions out of sync is going to cause a lot of confusion among the people least able to understand what the problem might be. Alternatively, @ed

[2017-01-21 21:31] Melvar commented on #3616
No, what comes from your definition of `VerifiedMonoid` is `mult 1 r = r`, not `mult r 1 = r`. Then, by the definition of `mult`, `mult 1 r` immediately reduces to `plus r (mult 0 r)` which reduces to `plus r 0`, which is what you see.

[2017-01-21 22:16] atacratic commented on #3616
Ha - thanks!

My actual problem was that my branch https://github.com/atacratic/Idris-dev/tree/NatZZVerifiedImpls2 isn't building.  See https://github.com/atacratic/Idris-dev/blob/NatZZVerifiedImpls2/libs/contrib/Interfaces/Verified.idr#L80 where the compile fails as follows.

[code]

Would love a clue about that one?

[2017-01-22 13:57] ndmitchell commented on #3622
I'm confused. Looking at https://hackage.haskell.org/package/idris-0.99/idris.cabal it doesn't mention the extra library. @juhp - is the diagnosis of extra blocking it correct?

[2017-01-22 14:08] derekmorr opened #3630 "typo in tutorial"
There's a small typo in theorems.rst, in the section on totality checking. In "Hints for totality" the code block for qsort uses `filter (< x)`, but the paragraph above the example says "the checker cannot decide that ``filter (<= x) xs`` will always be smaller than ``(x :: xs)``.

Shouldn't the paragraph use `<` since the code block does?

[2017-01-22 20:01] juhp commented on #3622
@ndmitchell no, sorry above was just a cut and past of `stackage-curator` output for Stackage Nightly when I tried to enable idris.

I am asking here if idris-0.99 can be revised on Hackage like in master to allow `safe >= 0.3.9`?

[2017-01-23 11:56] ahmadsalim commented on #3443
@nightscape We would appreciate a porting of parseback independently of whether a parser rewrite is done or not. Of course, one might try to rewrite the parser in Idris afterwards, but there might be some plumbing needed for serializing the AST between Idris and Haskell.

[2017-01-23 12:13] #3630 closed

[2017-01-23 12:17] ahmadsalim commented on #3626
Thanks, it seems like it is missing some disambiguation when trying to typecheck `LT`.
I think a `with`-clause is missing, so there should probably be an error regarding that.

[2017-01-23 14:08] nicolabotta commented on #3626
@ahmadsalim The code is crap, of course. The internal error disappears as soon as one reestablishes proper indentation:
[code]
yields
[code]
as one would expect. Notice, however, that in the indented version the type checker does a lot of work before exiting with the internal error reported in my original post. I do not think that this issue is relevant per se, just thought that the internal error

[2017-01-23 14:10] ahmadsalim commented on #3626
@nicolabotta Yeah, thanks for reporting the error.

[2017-01-24 11:05] ahmadsalim commented on #3621
@rodrigogribeiro What does `:missing` in the interactive shell tell you?

[2017-01-24 11:08] ahmadsalim commented on #3620
@rodrigogribeiro Thanks for reporting the issue

Syntax expressions should have no effect after they parse.
It does seem that there is some issues w.r.t. the way inference and implementation resolution is performed. I am unsure whether this could be completely solved by better heurestics, but I think your issue might be useful to try and fine tune them.

[2017-01-24 11:09] ahmadsalim commented on #3625
Thanks for reporting the issue.
I am currently unsure on whether there is any other workaround than to avoid using the name `Refl`, but this should probably be fixed.

[2017-01-24 11:13] rodrigogribeiro commented on #3620
@ahmadsalim : Thanks for taking a look at this. Since syntax expressions have no effect after parsing, the problem is interface resolution. It appears that is not aware that `VerifiedSemiring` is subinterface of `Semiring` that is mentioned on error message.

[2017-01-24 11:20] ahmadsalim commented on #3623
@nicolabotta Thanks for the question.

This is a correct type error, since `p` has type `LT = EQ` already and therefore `trans p (sym s1)` will get the type `LT = compare x y` which is not your target type (specifically `sym s1` has type `EQ = compare x y` but your target is `EQ = EQ`).

[2017-01-24 14:26] nicolabotta commented on #3623
@ahmadsalim I understand but if the type of `p` already reduces to `LT = EQ` why doesn't the type of `s1` already reduce to `EQ = EQ`? This behavior seems a bit inconsistent to me.

[2017-01-24 16:41] ahmadsalim commented on #3623
@nicolabotta Actually, what is happening is not that `compare x y` is reducing to `EQ` but rather the term is being substituted in the type of `p`, which is what `with`-clauses generally allow you.

This in terms also means that new terms `compare x y` are not automatically substituted with `EQ` and so you get the mentioned type error.

[2017-01-24 18:59] RyanGlScott opened #3633 ":type shows rank-n type incorrectly"
Possibly a pretty-printer bug?

[code]

In particular, the output of `:t app` (`app : a2 -> a2 -> a -> a`) feels suspicious.

[2017-01-24 19:25] david-christiansen commented on #3633
Yep, it seems to be a pretty-printer bug.

[2017-01-25 12:04] rodrigogribeiro commented on #3621
@ahmadsalim : I've used missing and added the missing (impossible) case. But now is complaining that the `derivComplete` theorem isn't complete due to a with block. Is there any command for helping debugging this on interactive shell, like `:missing`?

[2017-01-25 12:51] ahmadsalim commented on #3621
@rodrigogribeiro Could you paste the error and the updated code, please?

[2017-01-25 14:19] rodrigogribeiro commented on #3621
@ahmadsalim : Again, thanks for answering! The error message is:

     Teste.idr line 283 col 0:
         Teste.derivComplete is possibly not total due to: with block in Teste.derivComplete

And the offending function is pasted below.

     derivComplete : InRegExp (x :: xs) e -> InRegExp xs (deriv e x)
     derivComplete {e = Zero}{xs = xs}{x = x} pr = void (inZeroInv pr)
     derivComplete {e =

[2017-01-26 09:38] ahmadsalim commented on #3621
@rodrigogribeiro Sure, no problem.

As far as I understand, there is currently no way to check missing for `with`-blocks. How did you perform the case splits: manually or using the editor support?

You could try to see if using the editor to split provides you more complete cases.

[2017-01-26 09:40] ahmadsalim commented on #3621
Btw

[code]
looks a bit suspicious for me, since it continues pattern matching after a `with`-block.

[2017-01-26 09:41] ahmadsalim commented on #3623
@nicolabotta I will close this issue. I hope this is OK, thanks!

[2017-01-26 09:41] #3623 closed

[2017-01-26 10:15] nicolabotta commented on #3623
@ahmadsalim Thanks Ahmad, closing the thread is fine, of course. Sorry for the late feedback!

[2017-01-26 12:26] rodrigogribeiro commented on #3621
@ahmadsalim : I've implemented this using editor support for `case`-splits and the functionality for building`with` blocks. Originally, I've implemented this on Idris 0.9.19 and it worked without any problems. After updating to Idris 0.99, this function starts to shows these issues.

BTW, I've managed to code the same in Agda and it worked. Does Idris uses a different approach for totality than Ag

[2017-01-26 12:52] ahmadsalim commented on #3621
@rodrigogribeiro There were some changes to the coverage checker in between.
I am not sure about the algorithmic implementations, but as far as I understand coverage checking is undecidable so different heurestics could probably be used.

In any case, could you kindly also provide the minimal amount of other code for this to run? It is unfortunately hard to check concretely what the issue is witho

[2017-01-28 07:17] codygman opened #3635 "Create patreon page to take donations for Idris"
I contribute to this [patreon project for the Rust redox OS](https://www.patreon.com/redox_os). I would likely do the same for Idris and I'm sure I'm not alone. Can someone in charge create a patreon page? Perhaps we can bolster development of Idris and allow people that wish to work full time on Idris do so.

[2017-01-28 08:39] NobbZ commented on #3635
I like the idea.

But maybe, [bountysource](https://www.bountysource.com/) were a better choice? It does allow to raise funds for either a single ticket/issue, which is paid out to whomever creates the PR that fixes that issue.

But also it does have monthly payments for the projects organisation via [salt](https://salt.bountysource.com/).

[2017-01-28 15:05] ahmadsalim commented on #3635
@codygman @NobbZ Thanks for the suggestions.

I believe that this discussion is better taken on the [mailing list](https://groups.google.com/forum/#!forum/idris-lang) than here in the issue tracker. Could you kindly move the discussion there and close this issue?

[2017-01-28 15:37] david-christiansen commented on #3635
I think that we can go ahead and close this directly, @ahmadsalim. It's not a bug in Idris, and having it in the database gets in the way of tracking the actual bugs.

@codygman: thanks for the suggestion, and I'm happy to hear that you'd like to support Idris development. Please write to the mailing list, where we can have a discussion about it!

[2017-01-28 15:37] #3635 closed

[2017-01-30 05:08] be5invis opened #3637 "Custom entry point for C backend, like WinMain"
The definition of win32 WinMain is:

[code]

which could be mapped into something like

[code]

[2017-01-30 05:24] be5invis opened #3638 "use _wfopen in RTS for Windows because MSVCRT/MinGW fopen does not support Unicode"
It calls ANSI WINAPIs underneath, while Unicode support is in Wide APIs.

[2017-01-30 07:08] be5invis opened #3639 "STDCALL FFI function pointers"
like, `MkCFnPtrStdCall`?

[2017-01-30 08:39] ahmadsalim commented on #3639
@be5invis Could you please elaborate more of what you want?

[2017-01-30 08:41] ahmadsalim commented on #3637
@be5invis Have you looked at the foreign function call API, and is it not already supported there?

[2017-01-30 08:42] be5invis commented on #3637
@ahmadsalim It is not **calling** WinMain, but **replace** `main` with `WinMain`, which is the entry point for all Windows GUI applications.

[2017-01-30 08:45] be5invis commented on #3639
@ahmadsalim This is how to create a windows in C/Win32:

[code]

Note that `WndProc` is in STDCALL, and it is assigned into a field of a `WNDCLASSW` struct.

[2017-01-30 09:14] ahmadsalim commented on #3639
@be5invis Thanks for the feature request. If you are interested you could try contributing this feature yourself, and use the mailing list or IRC if you get stuck somewhere.

[2017-01-30 09:48] melted commented on #3639
This would be for declaring callbacks passed to system apis on windows. Ordinary calls work fine as is.

But note that stdcall and ccall are the same thing on 64-bit Windows. So nothing new is needed there.

[2017-01-30 11:31] be5invis commented on #3638
UTF-8 fopen:

[code]

Getting argc and argv in UTF-8 `char*`:

[code]

[2017-01-30 11:50] ahmadsalim commented on #3638
@be5invis You are welcome to open a PR with changes to the runtime, if you want them included.

[2017-01-30 11:54] be5invis commented on #3638
@ahmadsalim IDK how many system APIs are there exposed to Idris... almost all APIs takes and returns `char*` on Windows needed to be wrapped in order to support Unicode.

[2017-01-30 12:08] melted commented on #3638
Idris is set up to work with UTF8 strings. It is probably best if you add a new opaque type for UTF16 strings in a lib (containing a pointer to it). And make idris functions for conversion to and from String. This would be a nice contribution to lib if it can be done portably.

I see no need to touch the rts for this. UTF8 strings are widely used on windows too and it shouldn't use a different enc

[2017-01-30 12:09] be5invis commented on #3638
@melted No, in the WINAPI/CRT level, they recognize ONLY wide strings as Unicode. All `char*` are interpreted as legacy encodings (“ANSI”).

[2017-01-30 12:11] melted commented on #3637
I think the best bet here is a command line argument that allows rts/idris_main.c to be swapped out for another C file containing an entry point.

[2017-01-30 12:15] melted commented on #3638
Yes, but idris uses utf-8 (like say Rust). The impedance mismatch should be solved by defining another type for working with wide strings to use with windows APIs. And conversion to and from that.

[2017-01-30 12:16] be5invis commented on #3638
@melted
for WINAPI bindings, yes, the best solution is to add a WSTR type.
but for RTS functions, well, add some `#if`s to maintain interface compatibility is a better solution.

[2017-01-30 13:14] melted commented on #3638
Yeah, filenames are a problem. if you do a special windows version, put it in rts/windows/win_utils.c, so the ifdeffing is minimized.

[2017-01-30 13:16] melted commented on #3637
That could also be useful for people who needed to init other stuff before starting idris main.

[2017-01-31 04:21] RyanGlScott commented on #3000
As someone who's had to work around these sorts of hairy `commitBuffer: invalid argument (invalid character)` issues on Windows many times, I think the solution could be pretty simple.

The issue is that GHC's default encoding for `stdout` is determined by the code page of your console, and much of the time, it's something like CP437, which has abysmal UTF-8 support (and in fact, GHC will just opt

[2017-01-31 11:48] zenon opened #3645 "Please add the SHA-256 hash of the binaries to the website when releasing."
I know this doesn't give a large step in security, but small steps are fine too.

Thank you.

[2017-01-31 12:18] jfdm commented on #3645
Hi @zenon thanks for the request.

There are many things we can do in improving our release process, and this is one of them. In fact, someone was looking at automating binaries releases. I'll make sure to add this to their notes, if they are still working on the task. And if not we'll work something out.

[2017-02-01 20:27] karljs opened #3646 "Function parameter names aren't optional when implicit"
I don't know if this is a bug in the language or in the documentation, but I am under the impression that function parameter names are intended to be optional.  I can write either of the following type signatures with no issue:

`fn : Type -> Type`
`fn : (t : Type) -> Type`

However, as soon as a parameter is made implicit (or auto implicit) the name seems to become mandatory.  That is, I can writ

[2017-02-01 20:55] ahmadsalim commented on #3646
As far as I understand this is a documentation bug, since currently the design is that all implicits must explicitly be given names. Of course, one may suggest an anonymous (positional) implicit syntax, but I am unsure whether this is something under consideration.

In any case, thanks for the issue.

[2017-02-03 11:30] timjs opened #3647 "Setting nested record fields using record update syntax"
_Note: I don't want to start a flamewar on syntax, just curious about the reasoning. I ask the question here so that it can easily be closed and muted._

Why does record syntax use an arrow `->` to indicate setting nested fields instead of a dot `.`? Dots are consistently used in the language to acces nested objects in modules and namespaces. Arrows always denote function types. Why break this exp

[2017-02-03 11:41] ahmadsalim commented on #3647
@timjs
Thanks for the question. I understand your well-intention, but optimally these kind of questions should be asked on the [mailing list](https://groups.google.com/forum/#!forum/idris-lang) or on IRC.

I can not answer this question precisely, since I had no partake in the decision making, but I think the reason is as you mentioned to separate it from namespace accesses (i.e., is `score.correc

[2017-02-03 11:41] #3647 closed

[2017-02-03 11:57] timjs commented on #3647
Thanks for your quick reaction @ahmadsalim. I wanted to post it on the mailing list first, but syntax discussions can be heavy and threads can be locked here.

I thought about the C influence. It is about the only place where Idris is influenced by it 😉. Namespaces conventionally should start with an upper case letter, so no ambiguity there I think.

I don't understand what you mean by the differe

[2017-02-03 11:59] ahmadsalim commented on #3647
Sorry, it the latter should have been or a single field `correct` prefixed with namespace `score`

[2017-02-03 17:56] be5invis opened #3650 "Use a higher-level intermediate representation when compiling from JavaScript to increase readability"

[2017-02-04 18:00] RyanGlScott opened #3651 "Incorrect type mismatch error?"
I tried copying some code from § 2.1.5 of [The Practical Guide to Levitation](http://itu.dk/people/asal/pubs/msc-thesis-report.pdf), and noticed something funny. Here is a minimal example:

[code]

Surprisingly, this fails to typecheck in 0.99:

[code]

What's really odd is that the choice of the name `l'` is of great importance. If I change the first case of `switch` to use a name other than `l'`

[2017-02-04 19:47] RyanGlScott opened #3652 "Type inference for Nats breaks down"
Another Practical Guide to Levitation–related error. Here are some auxiliary definitions:

[code]

If you try defining a `Vec` value like this, it typechecks:

[code]

But if you try to abstract out the `Nil` and `Cons` operations like this:

[code]

Then `exampleVecIdeal` fails to typecheck!

[code]

The workaround is to provide a type ascription on every single occurrence of `Cons`:

[code]

[2017-02-05 06:56] be5invis opened #3653 "Explicit Sort hierarchy"
Status quo:
[code]

Looks better:
[code]

[2017-02-05 06:59] be5invis commented on #3638
closed due to my PR.

[2017-02-05 06:59] #3638 closed

[2017-02-05 21:19] ahmadsalim commented on #3653
@be5invis Could you kindly provide a deeper rationale for why you need this explicit sort hierarchy?

[2017-02-05 21:21] ahmadsalim commented on #3651
Thanks for the bug report.
I would guess this is indeed a true bug in the latest version of Idris, probably with some naming issues somewhere.

[2017-02-05 21:24] ahmadsalim commented on #3652
Thanks for the bug report.

I think the issue here is that Idris apparently does not detect that `Cons` and `Nil` are properly injective, and so does not try to nicely unify the type arguments. I would hope this would get fixed as well at some point.

[2017-02-05 21:25] ahmadsalim commented on #3650
@be5invis Could you kindly elaborate more on what you mean here?

[2017-02-05 21:27] be5invis commented on #3650
The current JS backend's output is, well, hard to understand. It looks like directly embedded a stack-based VM, rather than translating Idris’ IRs into JavaScript.

[2017-02-05 21:27] be5invis commented on #3653
Don’t you think
[code]
is weird?

[2017-02-06 07:46] dalcde commented on #3592
Any pointers to how one can go about fixing this?

[2017-02-06 08:12] ahmadsalim commented on #3653
@be5invis I do not, in fact I think the opposite is weird :).

Sorry, but I will close this issue since I think it would require a lot of work to add explicit levels without a very small benefit and so I would think there is an abysmal chance of this getting implemented.

[2017-02-06 08:12] #3653 closed

[2017-02-06 08:14] ahmadsalim commented on #3650
@be5invis OK, I have updated the title. If possible could you please update your original issue description to highlight some of the challenges if someone were to look into it?

[2017-02-06 08:15] ahmadsalim commented on #3592
@dalcde Change the C backend to use the matching functions :)

[2017-02-06 13:30] nicolabotta opened #3654 "No such variable t"
I am likely missing something obvious but I do not understand why the code
[code]
fails to type check with
[code]
Is this a blind spot or an Idris bug?

[2017-02-06 14:18] ahmadsalim commented on #3654
This might be a bug with implicits in higher-order function arguments.
As far as I remember "plicity" is only stored for top-level functions (perhaps this should change).

In any case, thanks for the bug-report.

[2017-02-06 14:19] ahmadsalim commented on #3654
Have you tried using an explicit function instead, and do you experience the same error?

[2017-02-06 14:22] ahmadsalim commented on #2258
@edwinb Why is this tagged as expected behaviour? :)

[2017-02-06 17:49] dalcde commented on #3592
What would be the relevant pieces of code?

[2017-02-07 04:20] codygman opened #3655 "Possible compiler bug generating impossible case when it's possible"
Here's a quick video displaying the problem: https://www.youtube.com/watch?v=7RmDrzpGg7w

Basically I have the code:

[code]

My specific problem is with trying to use idris-add-clause followed by idris-case-dwim, it generating a case match it claims is impossible but then being told that the case it generated is actually possible after loading the file into the repl. Below are the transformations

[2017-02-07 08:34] ahmadsalim commented on #3592
@dalcde I would guess having `mpz_tdiv_q` and `mpz_tdiv_r`, but I am unsure.

[2017-02-07 09:47] dalcde commented on #3592
Does the Haskell backend have to be changed as well?

[2017-02-07 10:00] ahmadsalim commented on #3592
@dalcde You mean the Haskell code? I would guess not.

[2017-02-07 14:38] Melvar commented on #3592
Well of course it does, the original issue is that the evaluator is wrong, I just noted that the C runtime is *also* wrong, not that it is the only wrong one.

[2017-02-07 14:47] ahmadsalim commented on #3592
@Melvar Ah, I missed that, thanks. Yeah, then both should be changed.

[2017-02-07 15:09] Melvar commented on #3592
[Place of unsigned prims in evaluator](https://github.com/idris-lang/Idris-dev/tree/823d5d7cf19b0e4de9faa1b867abbd8b2dc8faa5/src/Idris/Primitives.hs#L213-L216), [place with signed prims in evaluator](https://github.com/idris-lang/Idris-dev/tree/823d5d7cf19b0e4de9faa1b867abbd8b2dc8faa5/src/Idris/Primitives.hs#L313-L339). [Impl for `Integer` in the C rts](https://github.com/idris-lang/Idris-dev/tree

[2017-02-07 21:21] dalcde commented on #3592
I suppose it would be a good idea to leave the internal, say, `bsrem` intact, and produce a new function bsmod that is to be used for the mod operator?

[2017-02-10 16:19] nicolabotta commented on #3654
@ahmadsalim I am not sure what you mean precisely by "using an explicit function". I have initially tried
[code]
instead of the above but this yields
[code]
which also suggests that there is something wrong in Idris, at least in the generation of the error message.

[2017-02-12 04:22] erisco opened #3657 "Data type declarations in interfaces"
According to the Unofficial FAQ section _[Why is the module system so basic/limited?](https://github.com/idris-lang/Idris-dev/wiki/Unofficial-FAQ)_:

`… interfaces can including data type and function declarations …`

Is this actually a feature? I cannot find any other information on this. Some tries to declare a data type in an interface fail with a parse error.

Sorry if this is the wrong place

[2017-02-12 16:11] ahmadsalim commented on #3654
@nicolabotta I meant changing the type of `t` from `{A : Type} -> F A -> F A` to `(A : Type) -> F A -> F A`

[2017-02-12 16:25] erisco commented on #3657
I accidentally was using version 0.10 rather than the newer 0.99.

[2017-02-12 16:25] #3657 closed

[2017-02-12 17:58] nicolabotta commented on #3654
@ahmadsalim I'm pretty sure that that would work. But it would make the notion of naturality
[code]
a bit unnatural.

[2017-02-13 15:18] xekoukou commented on #3655
```strCons``` uses a primitive function to construct the string, thus it is impossible for Idris to know the values that would allow the constructor to be well typed.

[code]

[code]

But Idris should not return impossible on one of the constructors and continue with the rest. The case is not impossible. Idris should return an error of not being able to infer the values/types of ```MkIsCapitalized

[2017-02-13 16:10] #3000 closed

[2017-02-13 20:52] erisco opened #3659 "Type refinement over case/of inconsistency"
This program type checks:

[code]

But this one does not:
[code]

With error:

[code]

This error will occur in both the `Z` and `S x'` cases.

I have been told that this is expected but even if so I then argue that this is unreasonable.

[2017-02-13 21:35] xekoukou commented on #3587
Here is another example :
[code]

[2017-02-13 22:15] erisco commented on #3659
Related https://github.com/idris-lang/Idris-dev/issues/3587

[2017-02-14 04:58] eatobin commented on #3622
Hello again.

Today I ran "stack install idris" and this was the result:

[code]

I am using: `resolver: lts-8.0`

It seems stack can not currently be used to install idris - either v 0.12.3 or .99? Can it be updated to install v .99?

Thank you.

[2017-02-14 16:02] porglezomp opened #3660 "Tuple syntax doesn't work with UniqueTypes"
I was trying to encode a state machine today and abruptly ran into the fact that tuples don't work with `UniqueType`. Intuitively I feel like changing the type from `Pair : Type -> Type -> Type` to `Pair : Type* -> Type* -> Type*` should be correct, but is there some complex or subtle case that breaks this?

[2017-02-14 16:17] porglezomp commented on #3660
Ah, I see that `UPair` exists, I suppose this question is more accurately complaining that the tuple syntax seems to only use `Pair` and never `UPair`.

[2017-02-14 16:19] porglezomp commented on #3660
And I guess the tuple syntax works as a value constructor too, so this isn't actually much of a problem…

[2017-02-14 16:19] #3660 closed

[2017-02-14 18:03] Termina1 opened #3661 "Totality checker issue on mutually inductive types"
[code]

Idris totality checker thinks the function ```calculate``` is not total, however if I change the last line using ```foldl```:

[code]
Idris assumes ```calculate``` is total, what's the reason. Could you explain is it a bug or expected behaviour?

[2017-02-15 12:31] nicolabotta commented on #3654
Strangely enough, a `let`based implementation of the lemma type checks without problems:
[code]
whereas even
[code]
fails to type check!

[2017-02-17 07:00] ahmadsalim commented on #3659
Thanks for reporting the issue.

This is by design, since it Idris does not rewrite in the types of values constructed after pattern matching. As far as I remember, it may make type checking non-decidable if such rewrite rule was added to the language afterwards.

The corresponding Agda program acts the same (failing to type check):

[code]

[2017-02-17 07:00] #3659 closed

[2017-02-19 13:48] geigerzaehler opened #3663 "Case declared as 'impossible is actually possible."
The following snippet compiles on `0.99-git:bc553c70` and segfaults.

[code]

Maybe the problem is that the type checker unifies types in contravariant position in `tailNotSingleton`. From `Singelton as -> Void` it deduces `as ~ [a']` which leads to `Singleton ( a :: as ) ~ Singleton [a, a']` which is indeed impossible.

[2017-02-19 14:37] anton-trunov commented on #3661
I translated the above mutual inductive definition into a type family and can confirm that the totality checker doesn't see the `calculate` function as total. Tested with Idris Version 0.99-git:6f46ba0e. Incidentally, Coq recognizes the function as total.

[code]

[2017-02-19 19:54] jon536 opened #3664 "Update record with dependent fields"
I tried to compile this simple program, but I have an error. If I create a new Record with new fields, it works fine, but why I can't update (or set new values) two fields simultaneously? (Is it a bug or I misunderstand something?)

[code]

[code]

[2017-02-20 09:01] xekoukou commented on #3663
Well, if you put a hole and check the types, it correctly identifies them as ``` as ~ [] ``` and ``` a :: as ~ [a] ```

I do not know why it considers it impossible.

[2017-02-20 19:19] Termina1 commented on #3566
I spent some time with git bisect and it seems this commit is a source of problem.
d0671a3c3b901ab6d5131405df0639844adfb1bf

[2017-02-22 10:13] jfdm commented on #3566
This looks familiar. Have you tried against Idris head?

[2017-02-22 11:32] Termina1 commented on #3566
@jfdm tried with 0.99-git:0ceaa30, and this is still an issue

[2017-02-22 19:28] alexknvl opened #3665 "Typechecking hangs"
The following hangs during typechecking.
[code]

[2017-02-22 20:14] qnikst opened #3666 "Idris fails find possible all possible cases."
In some cases Idris misses possible cases even with totality check enabled, while running session and after restart.

Minimal example:
[code]
Then in repl:
[code]

This proof in `bug` possible to get semi-automatically by generating default implementation and then case-splitting on `Refl`. (Kudos to @bravit  for finding minimal reproducible example)

[2017-02-22 22:07] lodi opened #3667 "Non-linear time to type check large pattern matches."
I was working through the exercises in chapter 3 of _Type-Driven Development with Idris_, and I noticed a compile-time performance issue trying to specialize certain matrix operations.

This code takes about four seconds to type check on my machine:
[code]

This code binds fewer elements, but has a nested structure.  It takes about six seconds to type check on my machine:
[code]

This takes a full

[2017-02-23 08:29] ahmadsalim commented on #3655
Thanks for the issue report. This is similar to #3244, I will move your comments to there and close this issue to keep things consolidated.

[2017-02-23 08:30] ahmadsalim commented on #3185
Another instance from @codygman at #3655:
Here's a quick video displaying the problem: https://www.youtube.com/watch?v=7RmDrzpGg7w

Basically I have the code:
[code]

My specific problem is with trying to use idris-add-clause followed by idris-case-dwim, it generating a case match it claims is impossible but then being told that the case it generated is actually possible after loading the file int

[2017-02-23 08:30] #3655 closed

[2017-02-23 08:34] ahmadsalim commented on #3661
Thanks for the bug report! I think I will tag this as real bug since I do not see any major reason why this should not work.

[2017-02-23 08:35] ahmadsalim commented on #3108
@edwinb was too busy, so it did not happen this year. Maybe next year.

[2017-02-23 08:35] #3108 closed

[2017-02-23 08:40] ahmadsalim commented on #3663
Yeah, this does actually seem like a bug. Thanks for the report!

[2017-02-23 08:49] ahmadsalim commented on #3666
Thanks for the bug report. This is actually a duplicate of #3663 so I will move your example over there.

[2017-02-23 08:49] ahmadsalim commented on #3663
From @qknist, @bravit in #3666:
[code]

[2017-02-23 08:53] ahmadsalim commented on #3664
Thanks for the bug report.
Unfortunately, Idris does not currently support generating record setters for dependent records (as suggested by the feature request in #644).

I will convert your issue into a feature request.

[2017-02-23 09:00] ahmadsalim commented on #3665
It seems to hang on `test` in particular, even when f is explicitly given type `ListF Integer Nat -> Nat`. I am unsure why it is hanging because it does not say so in the log, and so this would require more debugging to solve.

[2017-02-23 09:03] ahmadsalim commented on #3667
Thanks for the bug report. This is a duplicate of #1557 and so I will add your comment there.

[2017-02-23 09:03] #3667 closed

[2017-02-23 09:04] ahmadsalim commented on #1557
Example from @Iodi in #3667:
[code]

[2017-02-23 16:27] lodi commented on #3667
Ok, thanks.

[2017-02-24 11:58] mmn80 commented on #3637
I think you can have your custom entry point by compiling with the `--interface` flag and writing your main module in `C`. Look into test `ffi006` to learn how to do it. It looks pretty easy.

[2017-02-24 13:52] mmn80 commented on #3637
The `--interface` flag is a simple & general solution to the custom entry problem, as it allows you to write your main module in whatever language/compiler you want, and also, at the back end, use whatever linker you need.

In my mind it only has 2 problems:
1. Undocumented, although I'm pretty sure Edwin considers tests as a perfectly good form of documentation.
2. Unfortunately named (nothing to

[2017-02-24 16:50] mmn80 commented on #3637
I implemented point 3 [here](https://github.com/mmn80/idris-loader). All you have to do is make a package without the `main` and `executable` fields, and add a field `opts = "--interface -o entryPoint.o"`.

The entry point module included in the package looks like this:
[code]

`main.c` (you could use here `WinMain` or whatever):
[code]

`Makefile`:
[code]

Then you build it with `make`.

I think

[2017-02-26 01:48] alexknvl opened #3670 "Can't find implementation for Recursive r b c"
After generalizing this code
[code]
to
[code]
I get the following error on the last line (`cata`):
[code]

---
I am running Idris 0.99 on Windows.

[2017-02-26 14:33] anton-trunov commented on #3566
Also, 59577e6c takes around 5 sec to typecheck on my machine with
[code]
At 97319d9f7edb1ab075b8cc2940678115cf15ff57 typechecking time doubles (10 sec), and at d0671a3c3b901ab6d5131405df0639844adfb1bf I didn't wait until the end, however, typechecking  takes at least 10 times longer.

[2017-02-27 20:11] hdgarrood opened #3671 "Issues resolving dependencies for 0.99"
I tried to install Idris just now, and had a bit of an issue getting it to build. Possibly my fault for not following what the tutorial said (I tried to use stack, not cabal-install, as I'm more familiar with the former) but maybe this will be useful information anyway.

This is what I ran:

[code]

I did a bit of digging and I think this is happening because trifecta-1.6 (which is the version of

[2017-02-28 10:01] mrkgnao opened #3672 "Type-directed IDE search could ignore optional parameters"
Is this expected behaviour?

[code]

(I had momentarily forgotten what the equivalent of `(!!)` was.)

[2017-03-01 06:58] berewt opened #3673 "namespace and constraints"
It seems that the parser doesn't like multi constraints requirements for a typeclass in a namespace.

Here is an example:

[code]

Provides the error:

[code]

It compiles without the namespace or with an explicit export modifier before the typeclass declaration:

[code]

[2017-03-01 13:42] imuli opened #3674 "interface type dependent return values"
This seems to have worked [back when interfaces where classes](https://github.com/idris-hackers/idris-crypto/blob/master/src/Data/Crypto/Hash.idr), I'm trying to adapt that to current Idris.

[code]

One difference between the old idris and new idris is:

[code]

needs to be

[code]

Which is mildly inconvenient, but whatever.

However I haven't been able to figure out how to rewrite:

[code]

whi

[2017-03-01 15:25] imuli commented on #3674
[code]
fixes that, much nicer than all the explicit implicits actually.

[2017-03-01 15:25] #3674 closed

[2017-03-02 20:03] edwinb commented on #3674
All of this happens because there's no "a" in the types of the methods. Previously, Idris guessed which instance you meant in situations like this, which was a bad idea because it could easily have got it wrong (and sometimes did, causing some very strange errors)... so I think this is correct behaviour, even if it is annoying to have to be explicit.

The error message could clearly be more helpfu

[2017-03-03 09:27] ahmadsalim commented on #3670
Have you tried passing the implicit parameters explicitly? I think you may have hit a wall here on how powerful the Idris inference system has to be to figure this out.

[2017-03-03 09:33] ahmadsalim commented on #3671
Thanks for reporting the issue. I hope someone more familiar with stack can take a look? @idris-lang/contributors .

[2017-03-03 09:37] ahmadsalim commented on #3672
I would guess it's "expected" in the sense that it does not surprise me that, that is how it currently works. I think your suggestion although seems fairly good; if you are interested in contributing in Idris I think this is something we could be interested in.

[2017-03-03 09:39] ahmadsalim commented on #3673
Thanks for reporting, this does seem unintended!

[2017-03-03 10:47] steshaw commented on #3671
@hdgarrood I managed to get a build of idris-0.99 by:

[code]

I wonder if it could be something to do with the haskell-stack version (I'm on 1.3.2). I'm running on macOS which needs the PKG_CONFIG_PATH set as above. See also the [docs on installing Idris](https://github.com/idris-lang/Idris-dev/blob/master/INSTALL.md#experimental-support-for-building-with-stack).

I've not kept up with Idris deve

[2017-03-03 12:41] david-christiansen commented on #3671
@RyanGlScott , IIRC you added the code-page dependency. Is adding it to extra deps the right way to go, or should we push to get it into Stack?

[2017-03-03 13:59] RyanGlScott commented on #3671
@steshaw, I'm not sure which Stackage resolver you're using, but `code-page` has been in Stackage ever since [LTS-7.17](https://www.stackage.org/lts-7.17).

[2017-03-03 23:10] steshaw commented on #3671
@RyanGlScott on idris master it's `lts-7.14`:

https://github.com/idris-lang/Idris-dev/blob/master/stack.yaml

When I update it locally to `lts-7.17` the build plan works out fine and idris builds.

[2017-03-04 20:35] edwinb commented on #3566
I think I'm going to revert to normal form rather than weak head normal form during type checking, because it causes way more problems than it solves. In particular, it often leads to rather larger intermediate expressions than are useful, like in this case.

[2017-03-04 21:15] #3566 closed

[2017-03-04 22:03] edwinb commented on #3616
So is it the case that the initially reported issue is expected behaviour, and there is a different problem? If so, it'd be better to close this and open a new issue, ideally with a minimal failing example.

[2017-03-04 22:39] #3614 closed

[2017-03-04 22:49] edwinb commented on #3664
This is, unfortunately, rather hard, because there's a dependency between the two updates that means they both *must* be done at once. This is incompatible with the current meaning of record updates, which does one at a time.

If you make size implicit, it's fine:

    record DataStore where
      constructor MkData
      items  : Vect size Nat

    addToStore : (store : DataStore) -> Nat -> DataS

[2017-03-04 22:51] edwinb commented on #644
I'm closing this because: a) we don't generate setters if they won't work now; and b) because feature requests open this long indicate it's probably wishful thinking :).

We should still make dependent record setters better, as suggested in #3664

[2017-03-04 22:51] #644 closed

[2017-03-04 22:58] edwinb commented on #3665
This is caused by the partial evaluator going far too deep. I'm turning this off by default, because there's still much to understand about how to make it behave well with interfaces and implementations.

[2017-03-04 23:03] edwinb commented on #3168
It turns out mutual blocks don't properly respect interface definitions... probably because I didn't work out what the rules should be. I'll take another look.

[2017-03-04 23:06] #3665 closed

[2017-03-04 23:06] edwinb commented on #3168
Oops, closed the wrong issue via a commit...

[2017-03-05 13:11] edwinb commented on #3168
I'm changing this so that in a mutual block, the interface header gets elaborated on the first pass, and method types get elaborated on the second pass. Given that the first pass does function types, and the type of `bar` references `MyInterface`, you'll need to define this as follows:

    interface MyInterface a where
      foo : a -> b
      foo = bar

    bar : MyInterface a => a -> b
    bar

[2017-03-05 13:29] #3168 closed

[2017-03-05 14:36] edwinb commented on #3666
I'm reopening because it's a different issue (although one I hope to fix fairly quickly...)

[2017-03-05 14:37] edwinb commented on #3663
This was because of an attempt to identify empty types in the coverage checker that I made a silly mistake in. This was fixed when I fixed another issue, so I'll close now.

[2017-03-05 14:37] #3663 closed

[2017-03-05 16:31] #3666 closed

[2017-03-05 16:34] edwinb commented on #3661
It's because of the 'List' - the positivity check in Idris doesn't allow this because it only allows recursive arguments if they are either direct uses of the type, or the return type of a higher order function.

There's no reason not to allow this, it just needs implementing.

[2017-03-05 16:37] edwinb commented on #3661
Oh, and the other issue is that 'calculate' is used as an argument to a higher order function, and the totality checker can't immediately see that this is valid. This is much harder to do anything about. I don't know how Coq manages to spot that this is okay... I suppose I'll have to read up on how their totality checker works these days.

[2017-03-05 16:40] edwinb commented on #3652
If anyone can point me at the appropriate rule for making this work, I'll improve the unification. As things stand, this is expected behaviour.

[2017-03-05 16:44] jmitchell opened #3675 "Prelude.Bits: document target serialization (hex); support additional encodings"
Without referring to the source or experimenting, it's unclear what `b8ToString` does.

I propose we

* add documentation indicating the `Bits* -> String` functions return a non-"0x"-prefixed hex encoding
* consider renaming them to clarify (e.g. `b8ToHexString`)
* consider adding more encodings, like `b8ToBinString` and `b8ToOctString`

[2017-03-05 16:44] edwinb commented on #3652
(I can at least think of a way of making it work, I just don't know if it's the right one, or a properly general one, or... :))

[2017-03-05 16:47] edwinb commented on #3650
This isn't going to happen, sorry. Not unless someone feels like entirely rewriting it, or contributing a new "readable JS" backend or similar. The primary intention of the JS backend isn't to produce JS that's readable, but rather to produce JS that runs.

[2017-03-05 16:47] #3650 closed

[2017-03-05 16:49] edwinb commented on #3633
This is something I've known about and is part of the polish of scoped implicits I've been meaning to do for ages. Perhaps I should gather this all together in one issue. Or just get on and do it.

[2017-03-05 16:52] be5invis commented on #3650
It is not FAST either.
Maybe I should try to write one. An alternative...

[2017-03-05 16:55] edwinb commented on #3650
I was careful not to claim anything about how fast it is :). But this is the kind of open ended issue that just lurks there with nothing happening - it's a project rather than an issue.

If someone contributes a new JS backend, that works and is maintained, that would be great. I would prefer emphasis on efficiency rather than readability myself, but there's no reason not to aspire to both.

I do

[2017-03-05 17:05] edwinb commented on #3675
I think all of these are good ideas. As long as `b8ToString` etc remain, with suitable documentation (or even a deprecation warning) I think a PR that did all this would be accepted.

[2017-03-05 17:08] edwinb commented on #3625
Well that's embarrassing. I think it's due to 'Refl' being an unqualified name, part of the global namespace, but the manner in which it crashes is very odd. I'll take a look now, and at least make it fail in a less odd way.

[2017-03-05 17:36] #3625 closed

[2017-03-05 18:29] hdgarrood commented on #3671
@steshaw

I'm on Ubuntu with stack-1.3.2. The only way of explaining this I can think of is that you have the older version of trifecta's dependency bounds, from before they were tightened. What happens if you run `stack update` and try again?

Not really relevant to this issue, but I noticed that these docs say that `stack build` will copy executables to `./local/bin`, and that's not quite true:

[2017-03-05 19:46] edwinb commented on #3620
Have you found a way to resolve this with implicits? It would really help to debug the issue if you could find an explicit term that does type check. If there isn't a way to resolve it by making some more things explicit, it might be that the issue is something else...

[2017-03-05 20:13] edwinb commented on #3620
So I reduced the definition and added some holes (this is always a really helpful step to see what might be going on):

    zeroMatAddRight : ( VerifiedSemiring s
                    , VerifiedEquality s ) =>
                    {r, c : Shape} ->
                    (m : M s r c)  ->
                    (m :+: (zeroMat r c)) :=: m
    zeroMatAddRight {r = r}{c = c} m
      = let step1 = m :+: (zer

[2017-03-05 20:46] edwinb commented on #3610
It looks like erasure analysis does the wrong thing when compiling via :exec - at least, when I look at the generated code, there are things being erased which shouldn't be. This would at least explain why it works fine when you compile it via a complete definition. This is resulting in a silent failure - I will look into this, because this makes :exec not very useful.

[2017-03-05 21:26] jfdm commented on #3671
@hdgarrood and others thanks for the reports. Normally, I've tried to keep on top of building Idris with stack, but have let it slip of late. @steshaw is correct and that if we bump Idris' version of stack things *should* work, and this will get the 'codepage' dependency working.

@hdgarrood if you wish to send a PR with a commit to update the documentation, and a commit to update the stack versio

[2017-03-05 22:57] steshaw commented on #3671
@hdgarrood I tried `stack update` but it didn't help.

As for the `INSTALL.md` stack docs, it should probably read `stack install` which is just a shortcut for your `stack build --copy-bins`.

[2017-03-06 02:36] jmitchell opened #3677 "Missing LTrunc cases in JavaScript code generator"
The build for PR #3676 failed with the following error:

[code]

For the PR's code to work the following cases which aren't handled must be implemented:

* `LTrunc (ITFixed IT32) (ITFixed IT8)`
* `LTrunc (ITFixed IT64) (ITFixed IT8)`

There are more combinations for `LTrunc (ITFixed from) (ITFixed to)` that aren't supported yet either. Implementing a more generic case for `ITFixed from` to `ITFixe

[2017-03-06 02:40] jmitchell commented on #3677
Side question: is it generally considered a bug when an official code generator doesn't handle some of the IRTS.Lang representation? If so, are there tools, existing or planned, to assess coverage?

[2017-03-07 12:11] ahmadsalim commented on #3677
@jmitchell Thanks for report, I do think it is a bug since it affects a backend shipped with Idris.
As far as I understand we currently do not have a maintainer for the ECMAScript backend, but contributions are welcome in fixing this bug.

[2017-03-07 16:58] jfdm commented on #3671
Dear all;

I've updated Idris' stack files, and the documentation too.

If nobody objects I'll close the issue in the morrow.

[2017-03-07 17:02] hdgarrood commented on #3671
:+1: the update looks good to me, thanks!

[2017-03-07 17:03] jfdm commented on #3671
right, i shall close the issue then.

[2017-03-07 17:03] #3671 closed

[2017-03-08 09:58] edwinb commented on #3610
It turns out the problem is that there's a missing step when compiling at the REPL which means that Nats don't work. Fix coming shortly.

[2017-03-08 10:22] #3610 closed

[2017-03-08 10:40] berdario commented on #3610
Thanks!

[2017-03-08 11:03] edwinb commented on #3645
I've added this to the release script. Is this sort of thing what you're after? http://www.idris-lang.org/pkgs/idris-current.pkg.sha256

[2017-03-08 20:29] zenon commented on #3645
Great!
Yes, like this. May be e.g. here: too https://github.com/idris-lang/Idris-dev/wiki/Windows-Binaries
Thank you!
z.

[2017-03-09 04:01] david-christiansen commented on #3645
I'm not sure that putting hashes on a wiki page is a good idea, because it might lull people into a false sense of security. But linking to a page on idris-lang.org that is more tightly controlled and has the hashes is probably a good idea. Or am I missing something?

[2017-03-09 10:26] ahmadsalim commented on #3569
It seems to work now.

[2017-03-09 10:26] #3569 closed

[2017-03-09 14:14] jfdm commented on #3645
@david-christiansen you are not missing anything, distribution of hashes should be controlled.

[2017-03-09 16:23] erisco opened #3683 "Interface parameter with implicits in type"
Test case:
[code]

Output:
[code]

Idris version 0.99.

I do not know if this is a missing feature, bug, or purposefully does not work. If this did work I could abbreviate more code, as implicits do.

[2017-03-10 06:36] ahmadsalim commented on #3683
@erisco Does it work with explicit types?

[2017-03-10 06:37] ahmadsalim commented on #3645
@jfdm @david-christiansen Probably a good idea to get HTTPS for the idris-lang website as well. I think it should be possible to generate one for free with Let's Crypt now :)

[2017-03-10 07:20] erisco commented on #3683
@ahmadsalim as in `interface X (r : (a:Type) -> a -> Type) where`? Yes, that works. The issue is that Idris will not infer `a` for me and this causes unwanted verbosity.

[2017-03-10 07:21] ahmadsalim commented on #3683
Thanks, I will tag this as a bug then.

[2017-03-10 09:31] #2821 closed

[2017-03-10 12:20] canndrew opened #3686 "Unable to define an interface and datatype which depend on each other"
I'm trying to define the following two items in tandem:

[code]

There doesn't seem to be any way to make this work, the compiler always complains about something not being defined yet when I go to use it. Putting them in a mutual block doesn't help.

This would be fixable if it were possible to pre-declare interfaces like we can with datatypes.

[2017-03-10 16:20] david-christiansen opened #3687 "Proof of Void using type constructor injectivity"
I hadn't realized that type constructor injectivity caused inconsistency without excluded middle in the past. But @leodemoura pointed me at an [example](https://gist.github.com/leodemoura/0c88341bb585bf9a72e6) on the [Lean issue tracker](https://github.com/leanprover/lean/issues/654) that proves `Void` without any postulates, relying on type constructor injectivity alone. I ported it to Idris.

Th

[2017-03-10 17:25] zenon commented on #3645
I'm all for tighly controlled stuff, in this sense that is.

+1 for HTTPS

[2017-03-11 10:16] #2809 closed

[2017-03-11 10:16] #3261 closed

[2017-03-11 10:34] edwinb commented on #3687
Yikes! On the one hand, we can fix this by turning off type constructor injectivity. On the other hand, this would break a lot of other things (mostly involving interfaces). Any ideas?

[2017-03-11 10:57] edwinb commented on #3687
So this is leading me down a rabbit hole, which is very interesting. But I suppose there is one question which could lead to at least a temporary fix: even if type constructors aren't injective in general, are there any circumstances under which we can know they *are* injective?

[2017-03-11 15:25] alercah opened #3688 "Typing polymorphic lambda gives "No such variable: aqty""
:t \Refl => Refl

This gives an error, presumably because `Refl` can't be typed, and I guess the compiler won't add implicits to the lambda. But the error message is very unclear.

[2017-03-11 17:16] leodemoura commented on #3687
Here is the original source for this example:
https://lists.chalmers.se/pipermail/agda/2010/001526.html

@edwinb I'm also curious about this question, but I didn't manage to find an answer in the literature.
I came across this example when trying to implement OTT in Lean. AFAICT, type constructor injectivity in used in the OTT coercion reduction rules. I'm not claiming OTT is unsound, they conside

[2017-03-11 17:19] ahmadsalim commented on #3687
@edwinb Any option would be to not treat big forced arguments (functions that involve `Type`) as injective I think.

[2017-03-11 17:19] ahmadsalim commented on #3688
@alercah Could you kindly paste the error message as well?

[2017-03-11 17:21] ahmadsalim commented on #3687
Per https://lists.chalmers.se/pipermail/agda/2015/007391.html.

[2017-03-11 17:24] alercah commented on #3688
It's in the title.

On Sat, Mar 11, 2017 at 12:19 PM Ahmad Salim Al-Sibahi <
notifications@github.com> wrote:

[2017-03-11 17:30] ahmadsalim commented on #3688
Thanks, I missed it.

[2017-03-12 00:43] Supernerd11 opened #3689 "Raw in javascript codegen"
I'm trying to write type generic code with the js ffi, but i am missing the `Raw` type from the C code generateor.

[2017-03-12 09:55] edwinb opened #3691 "Totality checking mutual definitions too late"
The following code goes into an infinite loop when typechecking - an actual infinite loop, not just taking a long time!

[code]

The problem is that Forest reduces because it hasn't been totality checked yet. If `Tree` and `Forest` are declared in a mutual block, it's fine because the definitions get totality checked at the end of the block.

The evaluator blocks on things which aren't total, but

[2017-03-12 17:24] be5invis opened #3692 "Document Control.ST"
I saw it was in TODO

[2017-03-12 17:53] jfdm commented on #3692
There is a lot to infer from the issue's title. @be5invis can you please elaborate more on what you are proposing?

[2017-03-12 17:55] be5invis commented on #3692
@jfdm
As we have something like:
[code]
we want things like
[code]
that runs m in the current context, and if `m` raises some exception, pass to `handler`.

[2017-03-12 18:29] david-christiansen commented on #3687
@edwinb I'm sorry I threw this up on your day off!

I don't know what the fix is, exactly because of the interface issue. I suppose the place to start is to look at how Agda's instance arguments work around the lack of definitional type constructor injectivity.

[2017-03-12 23:49] erisco commented on #3683
This test case succeeds:

`interface X (r : String -> {a:Type} -> a -> Type) where`

There is something strange then about the implicit being the first.

[2017-03-13 09:46] jfdm opened #3693 "Point-Free Style and Totality"
Given the below data structure and flattening functions. Idris used to consider `flatten'`, which was written in a point-free style, total. Idris now complains. The non-point free style is total as expected.

[code]

[2017-03-13 10:41] edwinb commented on #3693
I wouldn't expect this to get past the checker, because it relies on inlining to work. It only worked in the past because we had different versions of case trees for totality checking (very aggressively inlined) and execution (not inlined so much to avoid excessive sharing). However, it turns out that doing this can change the result, because inlining can remove non-terminating things that never g

[2017-03-13 10:41] #3693 closed

[2017-03-13 10:43] edwinb commented on #3692
There's lots of reasons why this turns out to be a bad idea for `Eff`. In fact `Eff` turns out to have a number of annoying limitations which are fixed by `Control.ST`, and therefore it will soon be considered deprecated in favour of `Control.ST`, which can already do this (see `Control.ST.Exception`.

I haven't written any documentation for `Control.ST` yet, however... I will as soon as I can, an

[2017-03-13 10:53] jfdm commented on #3693
Thank you, for explaining what has happened.

[2017-03-13 11:06] edwinb commented on #3683
You can see the same effect here:

    Y : (r : {a : Type} -> a -> Type) -> Type
    foo : (r : {a : Type} -> a -> Type) -> Y r

The problem is caused by the rules for the way scoped implicits are elaborated. The elaborator will always add implicit arguments to applications/names, such as `r` here.

When it sees `r` in the type of `foo`, it sees that `r` has an implicit argument and applies it. Ho

[2017-03-13 12:32] be5invis commented on #3692
@edwinb So `ST` is the new version of Effects, or an equivalent to Haskell’s ST?

[2017-03-13 12:37] jfdm commented on #3692
`Control.ST` is the new version of `Effects`.

[2017-03-13 12:40] be5invis commented on #3692
@jfdm So...
You have "old effects"
You have "effects"
And now, "ST"
...
This will be the last, right?

[2017-03-13 12:58] #3683 closed

[2017-03-13 13:02] ahmadsalim commented on #2905
@ziman Do you have an update?

[2017-03-13 13:10] ziman commented on #2905
I haven't looked at it since and I'm not sure in what state PE is now.

I'd probably close this bug and let someone else open it if they stumble on it.

[2017-03-13 13:17] #2905 closed

[2017-03-13 13:56] erisco commented on #2266
You should find that works:

[code]

I encountered the same issue: https://github.com/idris-lang/Idris-dev/issues/3683. According to edwinb the fix does not apply to this issue:

[2017-03-13 18:29] #2266 closed

[2017-03-13 18:44] edwinb commented on #3692
All of this will be explained when I document it. We don't generally track TODOs or tasks of this size on the issue tracker, by the way. This is mostly because, given the resources we have available, a lot of large tasks are really just wishful thinking, and even if they are useful they have a tendency to get lost in all the other small things that need fixing. I prefer to use the issue tracker fo

[2017-03-13 18:47] edwinb commented on #3651
I don't remember changing anything that's likely to be relevant to this, but it seems to work in master...

[2017-03-13 18:48] RyanGlScott commented on #3651
Oh! It even works in 0.99.1! Nice!

[2017-03-13 19:42] edwinb commented on #3654
I've now looked into this, as part of my current attempt to polish up scoped implicits so that they work properly. The issue is that the `t` is given the wrong type when passed to the where block, with an explicit argument given instead of an implicit one.

The reason for the 'No such variable' error is that, for some reason, that's the error I chose to give when there's too many arguments given t

[2017-03-13 21:47] #1615 closed

[2017-03-14 10:35] #3654 closed

[2017-03-14 11:13] edwinb commented on #3602
I think this is an instance of the general problem that we haven't really thought about the implementation of `String` functions very much, so we just have all the naive implementations in the rts. I suppose it's time we did.

I suspect (without having measured, so I'm probably wrong) that the problem here is that there'll be an allocation for every concatenation.

[2017-03-14 11:18] ahmadsalim commented on #3689
@Supernerd11 Could you kindly clarify more what you want to do, perhaps with a small example.

`Raw` is not in the C code generator. It's an intermediate representation.

[2017-03-14 11:19] ahmadsalim commented on #3692
I will close the issue then.

[2017-03-14 11:19] #3692 closed

[2017-03-14 17:06] nicolabotta opened #3694 "Not a terminator error"
The program
[code]
fails to type check with
[code]
Notice that
[code]
and
[code]
type check fine. I understand that fixing this issue is not particularly exciting. On the other hand, the error is very annoying, expecially when preparing Idris code for journal publication.

[2017-03-14 17:36] nicolabotta opened #3695 "No such variable Prelude.cast_error"
When trying to install the latest Idris version on a Debian stable system I get
[code]
The last successful installation was about one week ago. I have done a `cabal update` before `cabal install --enable-tests`.

[2017-03-14 17:36] Supernerd11 commented on #3689
What i mean is that it's not part of the JS FFI implementation, unlike the C FFI.

This is the code I am trying to get running:
[code]

With the C code generator you could write:
[code]

[2017-03-15 09:58] ahmadsalim commented on #3694
Thanks for reporting the issue. I will see if I can provide a fix in the weekend.

[2017-03-15 10:03] ahmadsalim commented on #3695
Have you tried removing all `*.ibc` files in the `idris --libdir` subdirectories?

[2017-03-15 10:05] nicolabotta commented on #3694
Great, thanks Ahmad!

[2017-03-15 10:14] nicolabotta commented on #3695
I have not and removing the `*.ibc` files in `idris --libdir` indeed solves the issue. Thanks!

[2017-03-15 10:14] #3695 closed

[2017-03-15 12:33] edwinb commented on #3602
I have tried a number of ways of making this much faster, and I can get it loading in a few seconds quite easily. However... the reported length that's coming back is wrong. I see it's a binary file, so I'm wondering if there are null bytes in there somewhere. This would explain it, because readFile is intended for text files only, but I suppose I should add some binary file functions as soon as I

[2017-03-15 12:48] SuprDewd commented on #3602
Excerpts from Edwin Brady's message of March 15, 2017 12:33 pm:

If you extract the file I linked to (which was a .tar.bz2), you should
get a file called `zeros6`. That was the file I was working with, and it
doesn't contain any null bytes AFAIK. (Sorry for not being more clear.)

[2017-03-15 12:52] SuprDewd commented on #3602
(Of course it should be possible to read a file containing
null bytes, but that belongs in a new issue, I guess.)

[2017-03-15 13:09] edwinb commented on #3602
Oh, right, I was using the .tar rather than looking at its contents. I'll make this all work for strings and move on to binary files later.

[2017-03-15 14:06] #3602 closed

[2017-03-15 14:08] edwinb commented on #3602
Okay, this now loads more or less straight away, and I can print the contents successfully and accurately.

The next related issue is that some things in the library aren't very good at dealing with long strings because they are recursive and blow the stack. I'll move onto this next - string processing is really naive at the minute so I want to fix it asap.

[2017-03-15 14:13] justjoheinz opened #3697 "Including libraries for the Node codegen"
Disclaimer: Maybe my thinking is wrong here

I wanted to experiment a bit with the node codegen. In order to write a wrapper library I naturally install modules using `npm install xyz`.
The resulting module will be located in e.g. `node_modules/xyz/main.js`

If I include this using:

    %lib Node "xyz/main"

the generated javascript file will include the line

    var xyz/main = require("xyz/main

[2017-03-15 16:18] melted commented on #3697
Sounds like a good idea.

Node connects your code to the libs from whats in package.json. So that's not a problem.

[2017-03-16 12:57] zjhmale commented on #1747
Hi, what is the status of this issue now, the multiline input will be quite useful I believe.

[2017-03-16 13:01] david-christiansen commented on #1747
@zjhmale: it looks like there's a partial bit of work addressing it in @ben-schulz's Github, but that it never turned into a pull request.

[2017-03-16 17:58] zjhmale commented on #1747
@david-christiansen, yeah, the commit is almost half a year ago 😅

[2017-03-16 23:36] ben-schulz commented on #1747
@zjhmale - Sorry about that; I haven't looked at that code in quite a while, and it's not presently in a commitable state.

It's good to know that people still care about this -- but I would also not be offended if someone else wanted to pick up the feature and with it instead

[2017-03-17 02:46] zjhmale commented on #1747
@ben-schulz No worries, thanks for your commit anyway, I will try to pick it up with me these days 😄

[2017-03-17 15:38] #3269 closed

[2017-03-17 15:41] edwinb commented on #2833
I've just tested this again, and everything works. No idea when we fixed it or how or what the problem was, but it's clearly not a problem any more :).

[2017-03-17 15:41] #2833 closed

[2017-03-17 15:42] #3651 closed

[2017-03-17 15:46] edwinb commented on #3199
I'm no longer convinced that this is a good idea, simply because I've tried it and sometimes it leads to horrific slowdowns. I think, unfortunately, a much more drastic rewrite is necessary in order to get better performance from the type checker in cases like this, without spoiling it elsewhere.

Still, I'm leaving this open because we need to deal with this kind of issue. But it's way harder tha

[2017-03-17 15:47] edwinb commented on #3329
This seems to be fine now.

[2017-03-17 15:47] #3329 closed

[2017-03-17 15:54] schell opened #3700 "Interface implementations using type functions cannot be found"
I may not have worded that correctly but my problem is summed up in the following example:
[code]

It's possible to define an interface that cannot be used. It was pointed out on freenode #idris that one may have to tell idris which implementation to pick ala `yourType = map {f=\ a => MyType a String} (+2) myType` but it errs similarly.

I'm trying to update my mental model of dependent types and

[2017-03-17 16:02] edwinb commented on #3477
I've updated the sample to work, but the looping issue appears is caused by the dsl notation. By putting a lambda in the expansion for lambda, it's then expanding the result forever... this should either be not allowed, or not expanded. Probably the latter.

[2017-03-17 16:06] schell commented on #3700
This also errs:
[code]

[2017-03-17 16:20] edwinb commented on #3511
This appears to be fine now. I assume that when I redid interface elaboration a couple of months ago it resolved this (that wouldn't surprise me, it did make things work much more sensibly, and this is the kind of thing I was trying to resolve...)

[2017-03-17 16:20] #3511 closed

[2017-03-17 16:22] #3477 closed

[2017-03-17 16:32] edwinb commented on #3700
Just a quick note - as I said on irc I think the right thing to do is to reject the implementation, given the way they are resolved at the moment.

[2017-03-17 18:04] milessabin commented on #3199
For posterity, could you say what those bad decisions were and why?

[2017-03-18 10:46] #3491 closed

[2017-03-18 12:00] edwinb commented on #3633
Retagged to make sure I actually do this soon. Pretty printer weirdness shouldn't creep in for this sort of thing...

[2017-03-18 12:06] edwinb commented on #3645
I've enabled https now

[2017-03-18 12:14] edwinb commented on #3675
I believe this is fixed by the above reference patch

[2017-03-18 12:14] #3675 closed

[2017-03-18 17:19] erisco opened #3701 "Hole in default implicit, strange REPL behaviour"
test.idr
[code]

session:
[code]

[2017-03-18 17:43] erisco opened #3702 ":elab does not recognise implicit holes"
test.idr

`natId : Nat -> Nat`

session:
[code]

---

test.idr:
[code]

session:
[code]

[2017-03-18 19:48] erisco commented on #3702
Expected behaviour.

[2017-03-18 19:48] #3702 closed

[2017-03-18 19:50] ahmadsalim commented on #3701
Thanks for reporting the issue.
I think this is because of the way expressions work in `default` where they are instantiated at call-site not at declaration site. I would almost call this expected behavior.

[2017-03-19 08:08] ahmadsalim commented on #3694
@nicolabotta I have tried a few hours, but it seems that our issue is generally with the indentation parsing being unprincipled. I figured out why the issue was there, but it may be hard to fix without a proper rewrite of the parser using a more principled indentation handling.

[2017-03-19 09:00] danilkolikov opened #3703 "Strange behaviour of type constructors and Refl"
I found strange behavior of type checker. Suppose we have two functions - `check` and `foo`, second somehow transforms passed type constructor:
[code]
Such version of `foo` compiles:
[code]
Such doesn't:
[code]
Error:
[code]
I found a workaround:
[code]
But if we pass 2 arguments instead of one, it doesn't help, every combination of arguments and lambda-functions fails:
[code]
[code]

[2017-03-19 23:40] jmitchell commented on #3677
Resolved. See https://github.com/idris-lang/Idris-dev/pull/3676/commits/f0b13faf6ea84c59eb9ee4d4ab8a3d950ba36152

[2017-03-19 23:40] #3677 closed

[2017-03-20 13:34] ahmadsalim commented on #3703
Thanks for reporting the issue. I think it should not reduce foo since you have not given it a definition yet.

[2017-03-20 17:19] Supernerd11 opened #3704 "Wierd effect of interpretation function"
When I try to compile this:
[code]
I get a compile error:
[code]

but using
[code]
works well in the interpreter. I don't get whats wrong.

[2017-03-20 21:06] ahmadsalim commented on #3704
@Supernerd11 This is the result of auto-implicits. `accountSchema` is implicitly bound.

[2017-03-20 21:06] #3704 closed

[2017-03-20 21:08] ahmadsalim commented on #3703
It seems that in the latest of Idris (HEAD) makes sure that the first version also does not compile, so it's fixed now.

[2017-03-20 21:08] #3703 closed

[2017-03-20 21:09] ahmadsalim commented on #3701
I will close the issue, but if you feel strongly about it, feel free to reopen.

[2017-03-20 21:09] #3701 closed

[2017-03-22 12:59] stuartkurtz opened #3707 "IdrisDoc produces entries in reverse alphabetical order"
Title says it all. Speaking for myself, I'd prefer that the documentation left the entries in source-code order, as related functions are often close together.

[2017-03-23 08:56] ahmadsalim commented on #3707
Thanks for the feature request. We more than welcome contributions to allow more orderings produced by IdrisDoc; if you are interested, we can point you to the right place in the code here or on IRC/the mailing list.

[2017-03-24 05:37] zjhmale opened #3709 "Support `Go to definition` and `Find usages` in IDE protocol"
I think we should support the following features in IDE protocol to some degree:

* Go to definition: get the location (file source, line number, column number) for a concrete identifier.
* Find usages: get all the locations (file source, line number, column number) for a concrete identifier.

[2017-03-24 13:29] david-christiansen commented on #3709
I agree that this would be nice to have, and as REPL commands as well for the Vim users out there.

But we don't typically use the issue tracker for open-ended projects and feature requests like this, because it makes it much harder to keep track of the actual bugs in Idris.

We would enthusiastically accept this as a contribution, however, and I'm happy to answer what questions you might have on

[2017-03-24 13:29] #3709 closed

[2017-03-25 04:39] AgentChicken commented on #3622
Hey, guys! It seems the issue is still present for version 0.99.1, but the error is slightly different.

The message is as follows:

[code]

I'm currently on Deepin 15.3 (based on Debian Jessie);  like @eatobin, I'm also using `resolver: lts-8.0`. Apologies if this message is unnecessary given the previous post, I just thought it would be appropriate to update the issue thread with the latest erro

[2017-03-25 13:02] mgttlinger opened #3711 "Data constructors not considered positive when in mutual block"
In the following example the constructors of `NExpr` are not considered strictly positive when inside a mutual block. If you remove the mutual block everything is total as I would expect it to be.

[code]

[2017-03-25 13:06] edwinb commented on #3707
I didn't implement any of this so I've never looked at the code before (or very little anyway), but as far as I can tell it's just picking the order that they happen to come out of the dictionary they're stored in, so I suppose reverse alphabetical would make sense for that.

I agree that a better default order would be the order they appear in the source.

[2017-03-26 13:20] oleks opened #3712 "Totality checking fails indirectly recursive types"
Hi,

Totality checking fails for `eval` below:

[code]

But succeeds if the arguments to `Plus` are curried instead:

[code]

[2017-03-26 16:09] edwinb commented on #3712
This is fixed in master now

[2017-03-26 16:09] #3712 closed

[2017-03-26 16:46] mgttlinger opened #3713 "Strange Erasure/getArity issue"
I have been struggling for days to find the cause of the segfaults I get when running my idris application and producing a minimal reproducible example. Using gdb and valgrind I traced the cause to String operations `idris_concat` and `idris_streq`.
During the reduction of the project I hit the error:
[code]
@edwinb said this should never happen, so here is a bug report on it.

repo project here:

[2017-03-27 11:19] jfdm commented on #3622
Right, I am getting Idris 0.99.2 to build against latest LTS Haskell 8.6---from 8.4. As far as I am aware this should mean that Idris can be included on Stackage again...

Thus, would anyone here like to point me in the right direction to get the ball rolling for inclusion.

[2017-03-27 11:26] ahmadsalim commented on #3711
Thanks for reporting the issue.

[2017-03-27 19:04] JakobBruenker opened #3715 "Type mismatch between same terms in interface"
[code]
results, on version 0.99.2 on Windows, in
[code]

Another thing, that might be related:
[code]
results in
[code]

[2017-03-27 19:24] ahmadsalim commented on #2716
@edwinb @david-christiansen  I guess this is less critical now, since FirstClassReflection is an extension.

[2017-03-27 19:27] ahmadsalim commented on #3325
@steshaw @melted Does this still happen in `0.99.2`?

[2017-03-27 21:05] david-christiansen commented on #2716
I agree that it's less critical if it relies on a language extension.

[2017-03-27 21:30] ctford opened #3716 "Missing idris_mkFileError special-case in Idris.Core.Execute"
I don't understand the cause of this, but loading a literate Idris file (I used [this one](https://github.com/ctford/flying-spaghetti-monster/blob/0e016d5da45979383ea43f15a3f4c3369c6a06f9/example/Example.lidr)) gives the following error at the REPL:

    Idris> Symbol "idris_mkFileError" not found
    idris: user error (Could not call foreign function "idris_mkFileError" with args [prim__vm (prim_

[2017-03-27 21:44] ctford commented on #3716
I mis-attributed the cause of the problem. The `.lidr` file in question uses a type provider. I was messing up paths to files referenced in the type provider, and the missing file error isn't properly caught. There is a missing (special case) in the [FFI execution code](https://github.com/idris-lang/Idris-dev/blob/master/src/Idris/Core/Execute.hs#L295-L443).

[2017-03-27 22:13] ctford commented on #3716
Here's a *much* simpler reproduction:

    Idris> :x readFile "not-a-real-file.txt"

The cause is a missing mapping in [Execute.hs](https://github.com/idris-lang/Idris-dev/blob/master/src/Idris/Core/Execute.hs#L295-L443) that corresponds to [a C function in the Idris implementation](https://github.com/idris-lang/Idris-dev/blob/ce5e330fe7ca3ea5b8bd71b13fea6edbdeaf0fa7/rts/idris_stdfgn.c#L123-L140)

[2017-03-27 22:14] david-christiansen commented on #3716
Sorry for the race condition - pick what name you like :-)

[2017-03-27 22:47] eatobin commented on #3622
I don't have the knowledge to help you put Idris on Stack but I do think it
would be good for the popularity of the language and hope you are
successful. Will watch for it there!

On Mar 27, 2017 09:52, "Jan de Muijnck-Hughes" <notifications@github.com>
wrote:

[2017-03-28 00:12] steshaw commented on #3325
I no longer have that 32-bit Windows VM. It was one of the ones that was
available from http://modern.ie/ but this site and the available VMs has
changed since I last visited. It's no longer clear which if any are 32-bit.

[2017-03-28 03:48] juhp commented on #3622
aeson-1.1.1.0 (Adam Bergmark <adam@bergmark.nl> @bergmark) is out of bounds for:
- [ ] idris-0.99.2 (>=0.6 && < 1.1). Jens Petersen <juhpetersen@gmail.com> @juhp. @idris-lang. Used by: library

vector-0.12.0.1 is out of bounds for:
- [ ] idris-0.99.2 (< 0.12). Jens Petersen <juhpetersen@gmail.com> @juhp. @idris-lang. Used by: library

[2017-03-28 03:50] juhp commented on #3622
You can open an issue in https://github.com/fpco/lts-haskell/issues to request adding idris to lts-8.

[2017-03-28 05:33] ahmadsalim commented on #3325
@steshaw OK, thanks.

[2017-03-28 05:43] ahmadsalim commented on #3325
I am wondering whether this is something that could be tested with appveyor as well.

[2017-03-28 08:28] steshaw commented on #3325
Not sure but it looks like Appveyor uses only 64-bit Windows Server images.
However, it does have a variety of MinGW/MSYS/Cygwin options
<https://www.appveyor.com/docs/build-environment/#mingw-msys-cygwin>.

[2017-03-28 08:40] shanemikel opened #3718 "Unexpected problems in "where" clause"
I'm following the very nicely written (and congrats on publishing @edwinb ) Manning book.
I ran into an erie problem with the stuff in chapter 9.  This has to be a bug, right?

[code]

I installed 0.99 to test this, and it is the same story.

[2017-03-28 08:42] shanemikel commented on #3718
The specific problem according to Idris, with `notElem`:

[code]

[2017-03-28 12:31] eatobin commented on #3622
I did.

On Mar 27, 2017 10:50 PM, "Jens Petersen" <notifications@github.com> wrote:

[2017-03-28 12:38] juhp commented on #3622
Thanks: fpco/lts-haskell#44

[2017-03-28 14:59] jfdm opened #3719 "Error in Code Generation 'duplicate case value'"
When generating a Toy executable, the C codegen reports a 'duplicate case value' error during compilation.

I've yet to create a MFE but have dumped the offending code in to:

https://github.com/jfdm/idris-error-temp

The first script compiles as expected, the second one fails.

[2017-03-28 17:15] JakobBruenker opened #3720 ":unlet Doesn't undefine types properly"
At the REPL,
[code]
leads to `Too many arguments for g`.

[2017-03-28 18:29] RyanGlScott opened #3721 "REPL's shows incorrect type signatures for holes"
Given this file (`Hello.idr`):

[code]

The Idris REPL is quite inconsistent with the types that it displays for the holes `?x` and `?y`:

[code]

Using `:browse` (or just entering the holes directly into the REPL) will yield the types:

[code]

which are just plain wrong. Only `:t` gets it right, for whatever reason.

[2017-03-29 08:33] shanemikel commented on #3718
I think I'm missing something in the binding of implicits or parameters in the type signature here.  Will reopen if necessary after I revisit this.

[2017-03-29 08:33] #3718 closed

[2017-03-29 14:56] #3210 closed

[2017-03-29 14:56] ahmadsalim commented on #3210
I will close it, since it is marked as potentially fixed and no complained

[2017-03-29 14:59] ahmadsalim commented on #2258
@edwinb This does not seem to have been fixed after the new implicit fixes.

[2017-03-29 15:07] ahmadsalim commented on #3652
@edwinb I think it could work if one only translated each numeral `n` to `fromInteger n`, instead of guessing the type of a numeral to be `Integer` too eagerly.

[2017-03-29 15:10] ahmadsalim commented on #3234
I will close the issue since there has been no objection and it seems that there has been not much activity. @nicolabotta If you still think it's a major issue, please reopen it.

[2017-03-29 15:10] #3234 closed

[2017-03-29 15:12] ahmadsalim commented on #3113
I will close the issue, since it has been inactive for a while and there seem to be no objection/continuation of the thread (and it's marked as expected behaviour). Please reopen the issue if there are important things left to be taken care of.

[2017-03-29 15:12] #3113 closed

[2017-03-29 15:13] ahmadsalim commented on #1415
I will close the issue since no new information was provided.

[2017-03-29 15:13] #1415 closed

[2017-03-29 15:15] ahmadsalim commented on #1539
I will close the issue, since no one has volunteered to do it and it has been inactive for a while. I am unsure whether it helps to keep track of feature requests with such ambitious projects if no one volunteers to do them. Of course, if anyone volunteers, please reopen as needed!

[2017-03-29 15:15] #1539 closed

[2017-03-29 15:16] ahmadsalim commented on #2276
I will close the issue since no new updated information was provided for a long time.

[2017-03-29 15:16] #2276 closed

[2017-03-29 15:17] ahmadsalim commented on #2787
I will close the issues since no new information was provided for a long time.

[2017-03-29 15:17] #2787 closed

[2017-03-29 20:41] jfdm commented on #2370
Looking at this, I think the reason is that you've only specified `--noprelude`. IIRC you need to disable everything to disable the prelude. That is: `--nobuiltins --noprelude --nobasepkgs`.

Currently these options are independent of each other. That is, `--noprelude` won't then disable the base packages, and `--nobuiltins` only disables the built ins. TBH I think that this should be fixed, and t

[2017-03-29 20:42] jfdm commented on #2370
Also apologies for leaving this issue lie there.

[2017-03-29 20:46] jfdm commented on #2370
Actually, looking at the code, I think the logic for disabling is off-by-one. When I get to a computer with git on, I shall change the behaviour. Essentially, when checking for NoPrelude, we also need to check if NoBasePkgs was set as well.

[2017-03-29 20:47] jfdm commented on #2334
I think this issue can now be closed.

[2017-03-29 20:47] #2334 closed

[2017-03-29 21:56] ctford commented on #3716
I've made the message a little more graceful, but I haven't yet worked out how to construct a FileError in Haskell-land.

[2017-03-30 01:11] david-christiansen commented on #3716
Try something along the lines of `EApp (EP (DCon 0 1 False) (sNS (sUN "GenericError") ["File", "Prelude"]) EErased) (EConstant (I errno))`, where `errno` is the appropriate error number. This might need a bit of tweaking - I'm away from my Haskell compiler right now.

Thanks for looking into this!

[2017-03-30 01:18] david-christiansen commented on #1539
I agree that this should be closed. I ended up doing elaborator reflection instead :-)

[2017-03-30 07:59] ahmadsalim commented on #3720
Thanks for reporting the issue.

[2017-03-30 08:00] ahmadsalim commented on #3721
Thanks for reporting the issue.

[2017-03-30 11:00] ahmadsalim commented on #3228
I will close the issue, since I think many of the improvements were made. While the rest are good to have, I think there has been not much activity in development recently. If there is any update in development, please reopen the issue!

[2017-03-30 11:00] #3228 closed

[2017-03-30 14:18] RyanGlScott commented on #3721
This seems to manifest in other ways, too. If you try to use the `:elab` command to fill in a value for the hole `x` in the program above, Idris will prevent you, since it tries to fill in the wrong type:

[code]

[2017-03-30 14:55] david-christiansen commented on #3721
This is a leaking of internal implementation details. The :browse UI should be updated to show holes the same way that :t does under the line.

:elab, on the other hand, is a metaprogramming feature that really does require some knowledge of the elaborator's output. This view of the holes is correct for :elab, but the docs could certainly be better.

[2017-03-30 19:04] edwinb commented on #3719
I'll take a look at this as soon as I can if you can find an MFE... as it stands, I'm not going to let it get in the way of a release (epsecially since it results in not compiling, rather than compiling and failing...)

[2017-03-30 19:05] edwinb commented on #3715
This is weird, because it's failing a conversion check even though the terms are obviously convertible. The only difference in the terms is the names, and the conversion check explicitly keeps track of that (nothing would work if it didn't...)

Anyway. I will fix this ASAP.

[2017-03-30 19:27] jfdm commented on #3719
no worries, i'll try and get a MFE at some point...

[2017-03-31 08:49] #3715 closed

[2017-03-31 08:52] edwinb commented on #3715
Fixed now, but one other thing you'll need to fix the original code is, in the Test2 interface, explicitly say which "exists" you mean. "exists" alone gives Idris no hint as to which implementation it might be, but if you write "exists {t}" it knows you mean the one from the "Test t" implementation.

Even though this is the only possible implementation in this situation, unification needs this.

[2017-03-31 09:03] edwinb commented on #3713
I'm taking a look at this now, but I get an error when building dependencies:

    The following packages were specified but cannot be found:
    - testparse

Is there something missing from the dependencies script?

[2017-03-31 09:10] ahmadsalim commented on #2766
@david-christiansen Any hints how one could fix this?

[2017-03-31 09:10] mgttlinger commented on #3713
When building my package or when building the dependencies?

[2017-03-31 09:13] mgttlinger commented on #3713
Ok, given that `config` depends on that it may be an issue with that build. This is unmodified from https://github.com/jfdm/idris-config so you could build that instead of using the contained clone.

[2017-03-31 09:13] jfdm commented on #3713
If you are building using the latest verison's of my test repo, then it could be that I recently deprecated the testparse package as the functionality is now integrated into lightyear itself. Apologies if this was the case.

[2017-03-31 09:28] jfdm commented on #3713
I've updated config to work with latest test and lightyear.

[2017-03-31 09:45] JakobBruenker commented on #3715
That makes sense; thanks for fixing it!

[2017-03-31 13:16] #3719 closed

[2017-03-31 13:28] jfdm commented on #3719
thanks @edwinb

[2017-03-31 13:28] #1614 closed

[2017-03-31 14:32] #3700 closed

[2017-03-31 16:41] david-christiansen commented on #2766
The place to look is in the runElab interpreter for `defineFunction`. It's probably forgetting a step that the main elaborator does. I don't know more than that off the top of my head.

[2017-03-31 16:41] david-christiansen commented on #2766
Probably the best thing to do would be to factor out all the stuff that adds definitions to one helper called in both places.

[2017-03-31 18:03] edwinb commented on #3713
I still can't build this. I cloned the repo again, then I removed the testparse dependency but now I get "Can't find import Test/Parsing" when I try to run buildDeps.sh. So - what are the steps to reproduce from scratch? I am surely doing something wrong.

[2017-03-31 18:05] mgttlinger commented on #3713
I recommend just cloning the idris-config repo directly instead of usind the one I checked in. I thought this would make it easier but apparently it did not...

[2017-03-31 18:14] edwinb commented on #3713
Okay, I can build this now, and I can reproduce the segfault.

[2017-03-31 18:58] edwinb commented on #3713
What is a definition of FromJSON that makes the segfault go away? It's not at all obvious what's going wrong here, or even where to start poking, so anything that gives me some kind of clue would be useful!

[2017-03-31 23:45] edwinb commented on #3713
It seems you stumbled on a rather nasty problem with code generation where, under some unlikely circumstances that you happened to hit, a variable reference ended up being wrong. I'm glad you found this now, as I am about to release version 1.0 and that would have been a nasty error to have missed... there's a fix coming soon.

[2017-04-01 00:16] #3713 closed

[2017-04-01 08:30] justjoheinz commented on #3697
I have been digging in the code a bit, unfortunately I never managed to get idris to compile locally and I have no big haskell experience, so I cannot test the code.

But modifying `CodegenJavaScript.hs` like this:

[code]
should a least output identifiers for node packages, which are sound. It does not cover the idea to have an alias, but would be a step forward.

[2017-04-01 20:31] jahaynes opened #3724 "Segmentation fault when recursively consing a list"
The following program segfaults for me:

[code]

`265000` is roughly the threshold.  Less than this number and it executes.  More than this number and it segfaults around 100ms into execution.

If the type above is `Int` or `Integer`, it segfaults.  If I change it to `Nat` it seems to execute normally.

I'm using Idris 1.0 - built from source with GHC 7.10.3
I'm running Ubuntu 16.10 64-bit.

[code

[2017-04-01 20:58] ctford commented on #3716
I tried to apply @david-christiansen's advice (with a small correction to the constructor name). However, the following produces no output and an elaborate type:

    :x (map isLeft $ readFile "not a file") >>= printLn

This *does* work and prints `False`:

    :x (map isLeft $ readFile "actual-file.txt") >>= printLn

So I assume that that the construction of the FileError is wrong. Is there a goo

[2017-04-01 21:07] julian-becker commented on #3724
I can confirm this issue exists also for idris version 0.99 (running on my Mac Book).
lldb reveals the following call-stack:

    * thread #1: tid = 0xfce41, 0x00000001000050a4 a`_idris_Prelude_46_Interfaces_46_Prelude_46_Interfaces_46__64_Prelude_46_Interfaces_46_Ord_36_Int_58__33_compare_58_0 + 4, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=2, address=0x7fff5f3ffff8)

[2017-04-01 21:20] ctford commented on #3716
To show the full result:
[code]

[2017-04-01 21:24] Termina1 opened #3725 "Error in IDE mode when case splitting on functions that have Effect in signature"
The minimal example to reproduce this bug:

[code]

If you try to case-split  on ```xs``` you will get the following error:
[code]

It can be reproduced in Atom and VS Code IDE modes, so I believe it is an issue of the compiler itself. I opened a similar issue for atom plugin, since it doesn't show error text (https://github.com/idris-hackers/atom-language-idris/issues/154).

[2017-04-01 22:11] david-christiansen commented on #3716
Isn't there an extra F in "GenericFFileError" there?

[2017-04-01 22:23] ctford commented on #3716
Good spot, but that was the result of me experimenting. Still happens without the extra "F".

[2017-04-01 23:25] darrenrhea opened #3726 "repl function not working in the REPL when invoked via :x main?"
I am on mac os x 10.11 El Capitan running idris 1.0 as it was installed by homebrew.  Most things are working great.  However, if you make the program

[code]

and then start the REPL via

[code]

this behaves a bit weird when you run the program via

[code]

in that it will not initially show the prompt, and will let you enter multiple lines until you press ctrl-C, then it does all lines at once,

[2017-04-02 09:24] edwinb commented on #3724
This is caused by a stack overflow in the generated C. The threshold is probably different depending on what your C compiler does. We don't detect this, although we probably should. It would still fail, but with a more useful message...

[2017-04-02 09:28] ctford commented on #3716
Seems like something funny's going on with showing FileErrors too:

[code]

[2017-04-02 11:32] develop7 commented on #3450
Couldn't reproduce the issue with Idris 1.0

[2017-04-02 11:32] #3450 closed

[2017-04-02 14:01] juhp commented on #3622
idris-1.0 should be in Stackage Nightly 2017-04-02.

[2017-04-02 14:39] ahmadsalim commented on #3622
Thanks @juhp. I will close the issue then.

[2017-04-02 14:44] david-christiansen commented on #3716
Yes, that's because the "show" implementation uses an FFI call inside an unsafePerformIO to ask C what the errno means.

I suggest an alternative implementation strategy: populate a table at library build time that maps C errnos to Idris strings, using a type provider. Then we can get rid of both of these RTS functions. What do you think?

[2017-04-02 14:46] david-christiansen commented on #3726
Yes, there is. One of them uses an interpreter for IO actions, the other compiles and runs an executable. My guess is that the interpreter needs to flush the output stream at some point, but doesn't.

[2017-04-02 14:54] nicolabotta opened #3727 "Implementation arguments containing injective functions"
The program
[code]
type checks fine in 0.99.1-git:PRE. But with 1.0 one gets
[code]
which seems like an Idris error given that `LTB Z` is indeed a type.

[2017-04-02 15:15] ahmadsalim commented on #3727
@nicolabotta I believe this was previously a bug, which is now fixed. I believe the general idea is that one should not be able to write implementations that work on functions instead of type constructors.

[2017-04-02 15:26] ctford commented on #3716
That sounds reasonable, but I don't think I have a good enough grasp of the situation to say.

Let me echo back what I think is going on:
* `Execute.hs` is a "Fake FFI" implementation used for situations where we can't reliably link to (some?) C functions due to annoyances like path differences between platforms.
* One of those situations is the REPL.
* In the "Fake FFI", we have special cases to

[2017-04-02 16:48] #3726 closed

[2017-04-02 16:52] david-christiansen commented on #3716
Almost. Execute.hs contains an interpreter for Idris that supports IO actions. This is needed for type providers, because they need to produce full expressions in the Idris core language, which we currently can't recover from compiled code. It does, however, fake the C functions that are found in the RTS, because we can't reliably dynamically link the RTS to Idris on Mac OS X, because there are la

[2017-04-02 17:24] nicolabotta commented on #3727
I am not sure that I understand what you mean, here `LTB Z` is a legal type, not a function. I am also not aware of any report in which the pre-1.0 behavior was identified as being erroneous.

This late change in Idris breaks tons of legacy code and effectively makes types that are not introduced via `data` declarations second-class types. From a user's perspective, this is very annoying and rathe

[2017-04-02 18:09] marc0der opened #3729 "Make Idris available on SDKMAN"
Many developers are seeking an easier way of installing SDKs on their machines. SDKMAN provides a very simple way of achieving this, and provides APIs for projects like Idris to publish their own binaries.

I would be happy to help Idris get set up on SDKMAN. It's a very simple process, and can be tied into the release pipeline easily.

[2017-04-02 18:13] ahmadsalim commented on #3729
Thanks for your interest. I think making Idris more available for people is generally great, and you are more than welcome to provide a PR with SDKMAN integration.

I am unsure whether there is any capacity to guarantee that it will be officially maintained, unless you are interested in providing continuous support for it yourself. I think we also have many contributions regarding other environmen

[2017-04-02 18:16] ahmadsalim commented on #3727
As far as I understand, the mechanism was only guaranteed to work with type and data constructors, because they guarantee injectivity. I think there were some issues with the old approach, which was fixed prior to the release of 1.0. For more details, I think you need to ask Edwin, since I do not completely understand the implementation search mechanism of Idris myself.

[2017-04-02 19:05] ctford commented on #3716
Ah, thanks for the clarification. That's why `:x` triggers the problem but `:exec` doesn't. BTW, the suggestion on IRC to change `:x` to `:exec-as-provider` or `:interpret` or something gets a vote from me.

Whatever we do to `File.idr` needs to work for ordinary usage as well as in the interpreter, so changing the way that `strError` and `getFileError` are used needs to respect that. In `Execute.

[2017-04-02 19:21] ctford commented on #3716
Buuuut, changing `fileOpen` would break other RTSes, wouldn't it?

[2017-04-02 19:34] nicolabotta commented on #3727
Thanks Ahmad, for the time being I will go back to 0.99 and try to see if I can make the framework 1.0 compatible.

[2017-04-02 20:16] yblein commented on #3707
I wanted to start working on this issue but I'm stuck with the following issue: I can't find a way to relate a `Def` to its location in a source file (`FC`). It seems that this information is discarded during elaboration.
Any insights on this?

[2017-04-02 20:23] marc0der commented on #3729
That sounds great, and I would need to have a closer look at your release process to see how we can hook into that.

What makes sdkman different from other package managers is that we work on a push model. We empower projects to perform their own releases, rather than always having to wait for your favourite package manager to play catchup. Our tool is also platform agnostic, and works in any Unix

[2017-04-02 20:46] jfdm commented on #3729
One thing that would be nice would be links to find out more about sdkman.

[2017-04-02 20:53] marc0der commented on #3729
Sure no probs, our website can be found at http://sdkman.io

We are a FLOSS project, and all our sourecode is available under our
organisation at Github: https://github.com/sdkman

Hope this helps!
On Sun, 2 Apr 2017, 21:46 Jan de Muijnck-Hughes, <notifications@github.com>
wrote:

One thing that would be nice would be links to find out more about sdkman.

—
You are receiving this because you autho

[2017-04-02 20:54] porglezomp commented on #3268
Is anyone still working on this? I might try to take a swing at it if it's stalled.

[2017-04-02 21:14] porglezomp opened #3730 "Interface contraints aren't linked when viewing docs"
When I view interface docs in Emacs (for example, if I want to go look at `Monad`) then things in the  Methods, Implementations, and Child interfaces sections all link to the appropriate place, but Constraints is just plain text, not links.

<img width="345" alt="screen shot 2017-04-02 at 17 13 51" src="https://cloud.githubusercontent.com/assets/1690225/24591097/c9780abe-17c7-11e7-8228-34350ed9cd9

[2017-04-02 21:24] ctford commented on #3716
I've put together a POC using an IORef to pass around the error. Looking at it now, I'm not sure it's necessary to build up any table of errors to strings, at least for the purposes of fixing this problem.

That's because there are only a small set of things that can go wrong, dictated by the exceptions thrown by `openFile`, so we can map most errors to non-generic FileErrors and just hardcode the

[2017-04-02 21:48] porglezomp opened #3731 "%name and %hide cause problems"
The following code behaves as expected:
[code]
but if I try to use just `List` with `%hide List`, then it doesn't work correctly:
[code]
Using a disambiguated name in `%name` doesn't appear to work either
[code]

[2017-04-02 22:57] bascott opened #3732 "Network.Socket does not compile on Windows"
Idris version: 1.0
OS Version: Windows 10
Attempted to build the example from http://docs.idris-lang.org/en/latest/st/examples.html

    C:\Users\Brian\Scratch\STServer> idris --build .\simpleecho.ipkg
    Entering directory `.\src'
    Type checking .\Network\Sockets.idr
    Type checking .\Main.idr
    C:\Users\Brian\AppData\Local\Temp\idris4118467.c:1:19: fatal error: netdb.h: No such file or d

[2017-04-03 01:36] david-christiansen commented on #3707
I'm pretty sure that it is indeed discarded, at least it was last I looked. So a good first step is to arrange for it to be preserved! This will also be a useful step towards implementing "go to definition" in editors.

[2017-04-03 04:35] porglezomp commented on #3268
For whoever comes this way, there's a good workaround for it if you're implementing an interface.
Instead of writing:
[code]
you can write
[code]
and the partial evaluation will get you to the pretty names instead of the ugly interface qualified names.

[2017-04-03 08:30] ahmadsalim commented on #3268
@porglezomp As far as I know no one is actively working on it, and you are more than welcome to try and improve this naming issue,

[2017-04-03 08:33] ahmadsalim commented on #3732
Thanks for reporting the issue. Could you provide us more detail on whether you are using 32-bit or 64-bit Windows?

[2017-04-03 08:34] ahmadsalim commented on #3731
Thanks for reporting the issue.

[2017-04-03 08:36] ahmadsalim commented on #3730
Thanks for reporting the issue. Contributions are more than welcome, and if you are interested we could help you find the right places in the code where this is relevant.

[2017-04-03 09:42] dwijnand opened #3733 "Redefining declarations in the REPL is cumbersome"
In the REPL, redefining previously defined functions currently requires invoking `:unlet` first, which is cumbersome. An example:

[code]

Perhaps the solution is to add a `-f/--force` to `:let`, or perhaps the restriction on `:let` redefining declarations should be dropped or relaxed.

I'm happy to attempt to submit a PR to improve this, but I would need a little guidance.

[2017-04-03 09:51] ahmadsalim commented on #3733
Thanks for your interest in contributing.

The folder [src/Idris/Repl](https://github.com/idris-lang/Idris-dev/tree/master/src/Idris/REPL) folder contains the parser and abstract structure (especially notice `NewDefn` and `Undefine` in the AST). The actual definition happens in the following line: https://github.com/idris-lang/Idris-dev/blob/b7cf1ec0f4a2ca455c8cc32769c3607641be88fd/src/Idris/REPL.

[2017-04-03 09:57] dwijnand commented on #3733
Hey @ahmadsalim,

* Do you know how I could create a test for this change in behaviour in the REPL?
* Do you have any advice or opinion on which solution I should pursue? Perhaps: do you know why REPL currently is coded to not let you redefine functions?

[2017-04-03 10:33] ahmadsalim commented on #3733
The instructions for adding the test are in the README, here: https://github.com/idris-lang/Idris-dev/blob/master/test/README.md#adding-a-test . For inspiration I would take a look at the `interactiveXX` tests which try to test similar behaviours.

I do not remember the rationale then, but I would not mind allowing redefinitions myself, as long as redefining something would not break things that h

[2017-04-03 11:52] david-christiansen commented on #3733
The reason why we prevent immediate redefinition is to prevent proofs of `Void`. Imagine this interaction sequence:
[code]
So at the very least, redefining something should remove all the definitions that depend on it, or perhaps recheck them and remove the ones that no longer work.

[2017-04-03 11:55] ahmadsalim commented on #3733
One could try to correctly rename the old definition, I think.

[2017-04-03 12:08] david-christiansen commented on #3733
This all seems overcomplicated and fragile, though, compared to having a file that gets edited and reloaded.

[2017-04-03 12:09] ahmadsalim commented on #3733
Yeah, I guess the easiest would be to just have the functionality of `:unlet ... :let` I guess.

[2017-04-03 12:32] dwijnand commented on #3733
I'm happy to pursue any simple and robust solution that aids my use case, or close this issue if one cannot be found.

There's something wrong with your snippet, @david-christiansen, and unfortunately I don't know Idris enough to know how to correct any typos:

[code]

[2017-04-03 12:33] ahmadsalim commented on #3733
@dwijnand I think the easiest would be to check if it is already defined and use the functionality of `:unlet` before using the functionality of standard `:let`

[2017-04-03 15:03] eatobin commented on #3622
Problem here: Idris is in the nightly mentioned above but is not in LTS 8.7 released today.

https://www.stackage.org/lts-8.7/hoogle?q=idris

Reopen this issue?

[2017-04-03 15:13] juhp commented on #3622
Right, I have been having trouble turning on the ffi flag in Stackage LTS 8...
But hopefully it will work out soon.

[2017-04-03 19:29] be5invis commented on #3732
replace with `<winsock.h>` perhaps?